.c-page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: $__border-width-thin solid $__color-neutral-alpha;

  @media screen and (min-width: $__breakpoint-small) {
    flex-direction: row;
  }
}
