.c-page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $c-rule;

  @media screen and (min-width: $v-breakpoint--b) {
    flex-direction: row;
  }
}
