// ========================================================
// Text-level semantics
// http://w3c.github.io/html/textlevel-semantics.html
// ========================================================

// 1. Remove gray background on active links in IE 10
a {
  background-color: transparent; // [1]
  text-decoration: var(--link-decoration, underline);
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}

a:active {
  color: var(--link-color-active);
}

// Reset font size for smallprint/legal text
small {
  font-size: 100%;
}

// Reset text decoration in Chrome, Edge, IE, Opera & Safari
abbr[title] {
  text-decoration: none;
}

// TODO: Review Minify HTML rendering
cite::before {
  content: " ";
}

// Prevent `sub` and `sup` elements affecting line height
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
