//  ===========================================================================
//  Mixins
//  ===========================================================================

// Clearfix
@mixin clearfix {
    &::before,
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}

// Visually hide content
@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

// Font metrics
@mixin fs--system--menu {
    font: menu;
    font-size: 1rem;
    line-height: (20 / 16);
}

@mixin fs--system--caption {
    font: caption;
    font-size: 0.875rem; // 14px
    line-height: (20 / 14);
}

@mixin fs--title {
    font-family: $f--block;
    font-size: 2.5rem; // 40px
    line-height: (40 / 40);
}

@mixin fs--heading {
    font-family: $f--slab;
    font-size: 1.125rem; // 18px
    font-weight: bold;
    letter-spacing: 0.025rem;
    line-height: (25 / 21);
    text-transform: uppercase;
}

@mixin fs--body {
    font-family: $f--serif;
    font-size: 1.125rem; // 18px
    line-height: (25 / 18);
}

@mixin fs--info {
    font-family: $f--serif;
    font-size: 1rem; // 16px
    line-height: (20 / 16);
}

@mixin fs--caption {
    font-family: $f--sans;
    font-size: 0.875rem; // 14px
    line-height: (20 / 14);
}
