//  ===========================================================================
//  Mixins
//  ===========================================================================

// Clearfix
@mixin clearfix {
    &::before,
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}

// Visually hide content
@mixin visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

// Font metrics
@mixin fs__title {
    font-family: $f__block;
    font-size: 2.5rem; // 40px
    line-height: (40 / 40);
}

@mixin fs__heading {
    font-family: $f__slab;
    font-size: 1.125rem; // 18px
    font-weight: bold;
    line-height: (25 / 21);
    text-transform: uppercase;
    letter-spacing: 0.025rem;
}

@mixin fs__body {
    font-family: $f__serif;
    font-size: 1.125rem; // 18px
    line-height: (25 / 18);
}

@mixin fs__info {
    font-family: $f__serif;
    font-size: 1rem; // 16px
    line-height: (20 / 16);
}

@mixin fs__caption {
    font-family: $f__sans;
    font-size: 0.875rem; // 14px
    line-height: (20 / 14);
}
