//  ===========================================================================
//  Global Variables
//  ===========================================================================

// Units
$u__max-width: 60rem;

// Colours
$c__brand-yellow:     hsb(28, 80, 100);
$c__brand-crimson:    hsb(0,  80, 53);

$c__neutral-darkest:  hsb(20, 50, 16);
$c__neutral-dark:     hsb(20, 20, 36);
$c__neutral-mid:      hsb(20, 5,  72);
$c__neutral-light:    hsb(20, 1,  96);
$c__neutral-lightest: hsb(20, 1,  100);

// Fonts
$f__sans:  "Source Sans Pro", sans-serif;
$f__serif: "Charter", serif;
$f__slab:  "Kameron", serif;
