//  ===========================================================================
//  Global Variables
//  ===========================================================================

// Values
$v--max-width: 60rem; // 960px

$v--breakpoint-a: 32rem; // 512px
$v--breakpoint-b: 45rem; // 720px
$v--breakpoint-c: $v--max-width;
$v--breakpoint-d: 65rem; // 1040px

// Colours
$c--brand-yellow:     hsb(24, 80, 100);
$c--brand-crimson:    hsb(0,  80, 53);

$c--neutral-darkest:  hsb(24, 40, 21);
$c--neutral-dark:     hsb(24, 40, 28);
$c--neutral-mid:      hsb(24, 5,  77);
$c--neutral-light:    hsb(24, 1,  91);
$c--neutral-lightest: hsb(24, 1,  100);

// Fonts
$f--sans:  'Source Sans Pro', sans-serif;
$f--serif: 'Charter', serif;
$f--slab:  'Kameron', serif;
$f--block: 'League Gothic', serif;
