.c-inquire--home {
  background-color: $__color-neutral-lighter;
  margin: 0 calc(var(--page-gutter) * -1);
  padding: 0 var(--page-gutter);

  @media (min-width: $__breakpoint-medium) {
    padding-top: 40vh;
    padding-bottom: 5vh;
    background-image: url("/assets/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.c-inquire__body {
  @include typeset("label");
  position: relative;
  padding: 2.5rem $__space-small 0;
  background-color: $__color-neutral-lighter;

  .c-inquire--home & {
    background: transparent;

    @media (min-width: $__breakpoint-medium) {
      background-color: rgba(black, 0.6);
    }
  }
}

.c-inquire__header {
  position: absolute;
  top: 0;
  left: 0;
  padding: $__space-small;
}

.c-inquire__title {
  font-weight: 600;

  .c-inquire--home & {
    @media (min-width: $__breakpoint-medium) {
      color: white;
    }
  }
}

.c-inquire__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c-inquire__input {
  flex: 1;
  margin-bottom: $__space-small;
  border: 1px solid $__color-neutral-light;
  box-shadow: inset 0 1px 0 $__color-neutral-alpha;
  padding: $__space-small $__space-medium;
  background-color: white;

  &:focus {
    @include focus;
    position: relative;
  }
}

.c-inquire__button {
  display: flex;
  margin-bottom: $__space-small;
  border: 1px solid $__color-neutral-light;
  box-shadow: inset 0 -1px 0 $__color-neutral-alpha;
  background-color: white;
  padding: $__space-small $__space-medium;
  text-align: center;
  color: $__color-neutral-dark;

  &[type="submit"] {
    margin-left: -1px;
  }

  &[data-geo] {
    margin-left: $__space-xsmall;
  }

  &[data-geo="false"] {
    color: red;
    text-decoration: line-through;
  }

  &:active {
    box-shadow: inset 0 1px 0 $__color-neutral-alpha;
    background-color: $__color-neutral-alpha;
  }

  &:focus {
    @include focus;
    position: relative;
  }
}

.c-inquire__label {
  margin-left: $__space-xxsmall;
}
