.c-contentinfo {
  @include fs--system-caption;
  background-color: $c-neutral--darkest;
  color: $c-neutral--lightest;
  flex: 0;
  margin-top: auto;
  order: 2;
  padding: 1rem;
  position: relative;

  &::before {
    height: 5px;
    width: 100%;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    box-shadow:
      inset 0 -1px rgba($c-neutral--dark, 0.25),
      inset 0 -2px $c-neutral--lightest,
      inset 0 -3px rgba($c-neutral--dark, 0.25),
      inset 0 -4px $c-neutral--lightest,
      inset 0 -5px rgba($c-neutral--dark, 0.25),
      inset 0 -6px $c-neutral--lightest;
    content: '';
    display: block;
  }

  a:hover {
    color: $c-brand-yellow;
  }
}

.c-contentinfo__main {
  @include l--container;
  display: flex;
  flex-direction: row-reverse;
}

.c-contentinfo__social {
  flex: 0 0 auto;
}

.c-contentinfo__rights {
  flex: 1 1 auto;
}

.c-icon {
  align-items: center;
  border: 0.03125rem solid currentColor;
  border-radius: 100%;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;
}
