/*
 * Embedded content
 * ================
 * https://html.spec.whatwg.org/#embedded-content
 */

img {
  border-style: none;
  display: block;

  @media print {
    break-inside: avoid;
  }
}

iframe {
  border: 0;
  display: block;
}
