/*
 * Forms
 * =====
 * https://html.spec.whatwg.org/#forms
 */

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

/**
 * Remove cancel button in Chrome and Safari on macOS
 */
[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}
