/*
 * Grouping content
 * ================
 * https://html.spec.whatwg.org/#grouping-content
 */

blockquote,
figure,
p,
ol,
ul,
dl {
  hanging-punctuation: first;
  margin: 0;
  orphans: 2;
  widows: 2;
}

pre {
  hyphens: none;
  overflow: auto;
  tab-size: 2;
  white-space: pre;
}

/* Default to ’bare’ lists */
ol,
ul {
  list-style: "";
  padding: 0;
}

main {
  background-color: var(--color-neutral-lightest);
  background-image: url("/assets/vectors/page.svg");
  background-repeat: repeat;
  background-size: 8rem;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;

  &::after {
    block-size: 5px;
    box-shadow:
      inset 0 -1px var(--color-neutral-light),
      inset 0 -2px var(--color-neutral-lightest),
      inset 0 -3px var(--color-neutral-light),
      inset 0 -4px var(--color-neutral-lightest),
      inset 0 -5px var(--color-neutral-light),
      inset 0 -6px var(--color-neutral-lightest);
    content: "";
    display: block;
    inline-size: 100%;
    inset-block-end: 0;
    inset-inline: 0;
    position: absolute;
  }
}
