/**
 * Interactive elements
 * https://w3c.github.io/html/interactive-elements.html
 */

/* Common focus styles */
:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--focus-outline-size) solid var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
  z-index: 99;
}

dialog {
  border: 0;
  padding: 0;

  /* Search dialog is open by default to account for non-JS situations */
  &[open] {
    position: static;
  }

  /* `data-js-toggle` gets added by `b-toggle` element using JS */
  &[data-js-toggle] {
    display: flex;
    position: absolute;
  }

  &::backdrop {
    background: rgb(0 0 0 / 30%);
  }
}
