/*
 * Sections
 * ========
 * https://html.spec.whatwg.org/#sections
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

::selection {
  background-color: var(--color-selection);
}

body {
  background-color: var(--color-neutral-darkest);
  block-size: 100dvh;
  color: var(--color-neutral-darkest);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  margin: 0;

  &:has(dialog#navigation[open]) {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid;
  font: inherit;
  hanging-punctuation: first;
  margin: 0;
  text-rendering: optimizelegibility;
  text-wrap: balance;

  @media print {
    page-break-after: avoid;
  }
}
