.s-distances {
  @include typeset("prose");

  --font-size-prose: $__font-size-text-medium;

  table {
    width: 100%;
    margin: $__space-large auto $__space-xlarge;
  }

  caption {
    margin-bottom: $__space-medium;
    font-variant-caps: small-caps;
  }

  tr {
    display: block;
    width: 100%;
    break-inside: avoid;
  }

  td {
    width: 100%;
    vertical-align: bottom;
  }

  thead {
    display: block;

    th:nth-child(1) {
      @include visually-hidden;
    }

    th:nth-child(2) {
      display: block;
      text-align: right;
      font-size: 80%;
      font-weight: normal;

      @media screen and (min-width: $__breakpoint-medium) {
        display: block;
        position: relative;
      }

      &::after {
        @media screen and (min-width: $__breakpoint-medium) {
          content: "Miles.";
          position: absolute;
          left: 0;
          width: 50%;
          padding-right: ($__space-large / 2);
          text-align: right;
        }
      }
    }
  }

  tbody {
    word-spacing: -0.025em;

    @media screen and (min-width: $__breakpoint-medium) {
      display: block;
      columns: 2;
      column-fill: balance;
      column-gap: $__space-large;
      column-rule: 3px double $__color-neutral-alpha;
    }

    span {
      background-color: $__color-neutral-lightest;
      padding-right: $__space-xxsmall;
    }

    em {
      font-size: 80%;
    }

    td:nth-child(1) {
      position: relative;

      &::after {
        position: absolute;
        right: $__space-xxsmall;
        bottom: 0.3334em;
        left: $__space-xxsmall;
        z-index: $__z-index-underlay;
        height: $__border-width-thick;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1.5' viewBox='0 0 4 2'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3C/svg%3E");
        background-position: bottom right;
        background-repeat: repeat-x;
        content: "";
      }
    }

    td:nth-child(2) {
      white-space: nowrap;
    }
  }
}
