// ========================================================
// Global Variables
// ========================================================

// Colours
$__color-crimson: hsl(0, 67%, 33%);
$__color-mustard: hsl(24, 100%, 60%);

$__color-neutral-darkest: hsl(24, 25%, 15%);
$__color-neutral-dark: hsl(24, 25%, 30%);
$__color-neutral-mid: hsl(24, 10%, 45%);
$__color-neutral-light: hsl(24, 10%, 75%);
$__color-neutral-lighter: hsl(24, 10%, 90%);
$__color-neutral-lightest: hsl(24, 25%, 97%);
$__color-neutral-alpha: rgba($__color-neutral-dark, 0.25);

$__color-link: $__color-crimson;
$__color-link-hover: lighten($__color-crimson, 20%);
$__color-link-active: darken($__color-mustard, 10%);

// Font families
$__font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$__font-family-serif: "Scotch Text", "Georgia", serif;
$__font-family-slab: "Trocchi", serif;
$__font-family-block: "League Gothic", "Avenir Next Condensed", serif;

// Font sizes
$__font-size-text-xsmall: 12px;
$__font-size-text-small: 14px;
$__font-size-text-medium: 16px;
$__font-size-text-large: 18px;
$__font-size-text-xlarge: 20px;

$__font-size-display-small: 20px;
$__font-size-display-medium: 24px;
$__font-size-display-large: 48px;
$__font-size-display-xlarge: 56px;

$__font-size-poster-small: 80px;
$__font-size-poster-medium: 96px;
$__font-size-poster-large: 112px;

// Line heights
$__line-height-reset: 1;
$__line-height-baseline: 1rem;
$__line-height-default: 1.25;
$__line-height-loose: 1.3334;
$__line-height-relaxed: 1.6667;

// Borders
$__border-width-thin: 1px;
$__border-width-thick: 2px;

// Values
$__text-indent: 1.5rem;
$__gutter: 1.5rem;

// Breakpoints
$__breakpoint-xsmall: 320px;
$__breakpoint-small: 480px;
$__breakpoint-medium: 640px;
$__breakpoint-large: 960px;
$__breakpoint-xlarge: 1280px;

// Spacing
$__space-xxsmall: 0.25rem; // 4px
$__space-xsmall: 0.5rem; // 8px
$__space-small: 0.75rem; // 12px
$__space-medium: 1rem; // 16px
$__space-large: 1.5rem; // 24px
$__space-xlarge: 3rem; // 48px
$__space-xxlarge: 6rem; // 96px

// Z-indices
$__z-index-underlay: -1;
$__z-index-default: 1;
$__z-index-overlay: 1000;
$__z-index-backdrop: 8000;
$__z-index-modal: 9000;

// Rules
$__rule: $__border-width-thin solid $__color-neutral-alpha;
