// ========================================================
// Webfonts
// ========================================================

@import url("//hello.myfonts.net/count/356494");

@font-face {
  font-display: fallback;
  font-family: "Scotch Text";
  font-weight: bold;
  font-style: normal;
  src:
    url("/assets/fonts/scotchtext-roman.woff2") format("woff2"),
    url("/assets/fonts/scotchtext-roman.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Scotch Text";
  font-weight: normal;
  font-style: italic;
  src:
    url("/assets/fonts/scotchtext-italic.woff2") format("woff2"),
    url("/assets/fonts/scotchtext-italic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Kameron";
  font-weight: bold;
  font-style: normal;
  src:
    url("/assets/fonts/kameron-bold.woff2") format("woff2"),
    url("/assets/fonts/kameron-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "League Gothic";
  font-weight: normal;
  font-style: normal;
  src:
    url("/assets/fonts/leaguegothic-regular.woff2") format("woff2"),
    url("/assets/fonts/leaguegothic-regular.woff") format("woff");
}
