/**
 * Visually hidden
 *
 * Hide visually, but still parsable by screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as
 *    spaces and small width causes content to wrap one word
 *    per line: https://medium.com/@jessebeach/5952a4c2cbfe
 * ========================================================
 */

.u-hidden,
.u-hidden-focusable:not(:focus, :focus-within) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}

.u-hidden-upto-medium {
  @media (--upto-m) {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap; /* 1 */
    width: 1px;
  }
}
