.c-breadcrumb {
  @include typeset("label");
  border-bottom: $__border-width-thin solid $__color-neutral-alpha;
  color: $__color-neutral-dark;
  margin-bottom: $__space-xsmall;
  padding-bottom: $__space-xsmall;
}

.c-breadcrumb__items {
  display: flex;
}

// 1. Display items inline
// 2. If supported, use Flexbox instead
//    (removes whitespace between items)
.c-breadcrumb__item {
  display: inline-block; // 1
  display: flex; // 2
}

.c-breadcrumb__item.is-current {
  &::after {
    content: none;
  }

  .c-breadcrumb__label {
    font-weight: normal;
  }
}
