[submodule "src/content"]
	path = src/content
	url = https://github.com/bradshawsguide/content.git
[submodule "src/patterns"]
	path = src/patterns
	url = https://github.com/bradshawsguide/patterns.git
