<IfModule mod_rewrite.c>
  RewriteEngine on

  # Serve files from public subfolder
  RewriteCond %{HTTPS_HOST} ^bradshaws.guide$ [NC,OR]
  RewriteCond %{REQUEST_URI} !^/public
  RewriteRule ^(.*)$ public/$1 [L]

  # Make site links work
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) index.php [L]
</IfModule>

# Pass the Authorization header to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<IfModule mod_deflate.c>
  # Compress text file responses
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/manifest+json
  AddOutputFilterByType DEFLATE application/xml
</IfModule>

<FilesMatch ".(css|js|jpg|png|woff|woff2)$">
  # Aggressively cache static assets
  Header set Cache-Control "max-age=2147483648, immutable"
</FilesMatch>
