.c-list__item {
  padding-bottom: $__space-xsmall;
}

// Column list
.c-list--columns {
  columns: 12rem 5;
  column-fill: balance;
  column-gap: $__gutter-x;

  .c-list__item {
    break-inside: avoid;
  }
}

// Grid list
.c-list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: $__gutter-x;

  .c-list__item {
    display: flex;
    padding-bottom: 0;
  }
}
