.c-contentinfo {
  @include typeset("caption");
  display: flex;
  flex-direction: row-reverse;
  flex: 0 0 auto;
  order: 2;
  position: relative;
  margin-top: auto;
  padding: 1rem var(--page-gutter);
  background-color: $__color-neutral-darkest;
  color: $__color-neutral-lightest;

  &::before {
    height: 5px;
    width: 100%;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    box-shadow:
      inset 0 -1px rgba($__color-neutral-dark, 0.25),
      inset 0 -2px $__color-neutral-lightest,
      inset 0 -3px rgba($__color-neutral-dark, 0.25),
      inset 0 -4px $__color-neutral-lightest,
      inset 0 -5px rgba($__color-neutral-dark, 0.25),
      inset 0 -6px $__color-neutral-lightest;
    content: "";
    display: block;
  }

  a {
    color: inherit;
  }

  a:hover {
    color: $__color-mustard;
  }
}

.c-contentinfo__social {
  --link-decoration: none;
  flex: 0 0 auto;
}

.c-contentinfo__rights {
  flex: 1 1 auto;
}
