.c-aside {
  @include pull-right;
  margin-bottom: $__space-medium;
  padding: $__space-small;
  background-color: $__color-neutral-lighter;

  .c-map {
    height: 15em;
    width: calc(#{$__space-small * 2} + 100%);
    margin: ($__space-small * -1);
    margin-bottom: $__space-small;
  }
}
