.c-place {
  position: relative;
  overflow: hidden;
  margin: $__space-medium 0;
  padding: $__space-small;
  background-color: white;
  outline: 1px solid rgba($__color-neutral-darkest, 0.1);
  box-shadow: 0 4px 12px 0 rgba($__color-neutral-darkest, 0.1);
  transition-duration: 0.15s;
  transition-property: box-shadow, margin, padding;

  &:hover {
    box-shadow: 0 8px 24px 0 rgba($__color-neutral-darkest, 0.25);
  }

  &:hover .c-place__title {
    text-decoration: underline;
  }
}

.c-place__title {
  @include typeset("display3");
}

.c-place__desc {
  @include typeset("text");
  display: block;
  margin-top: $__space-xxsmall;
  margin-left: 0;
  text-decoration: none;
  color: initial;
}
