.c-routemap--branch {
  margin-top: $__space-xsmall;
  margin-bottom: $__space-xsmall;
  margin-left: $__space-large;

  &::after {
    display: block;
    position: absolute;
    top: ($__space-xsmall * -1);
    left: ($__space-large * -1);
    width: calc(#{$__space-large} + 3px);
    height: $__space-medium;
    background-image: url("/assets/vectors/routemap__branch.svg");
    background-repeat: no-repeat;
    content: "";
  }
}
