.c-search {
  .has-js & {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}

.c-search__form {
  margin: 0 ($__space-small * -1);
  padding: $__space-medium var(--page-gutter);
  background-color: $__color-neutral-darkest;
  color: $__color-neutral-lightest;
}

.c-search__inner {
  @include typeset("label");
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.c-search__label {
  @include visually-hidden;
}

.c-search__input {
  border: 0;
  flex: 1;
  height: 2.5rem;
  width: 100%;
  padding: $__space-small;
  padding-left: 2.5rem;
  background: none;

  &:focus {
    box-shadow: inset 0 -1px 0 $__color-neutral-lightest;
  }

  .has-js & {
    padding-right: 5rem;
  }
}

.c-search__geo,
.c-search__dismiss,
.c-search__submit {
  padding: $__space-small;
  position: absolute;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  color: inherit;
}

.c-search__submit {
  left: 0;
}

.c-search__geo {
  right: 2.5rem;
  left: auto;

  &.has-failed {
    color: red;
  }
}

.c-search__toggle {
  > * {
    display: flex;
    align-items: center;
  }

  .c-icon {
    margin: $__space-small;
  }
}

.c-search__dismiss {
  right: 0;
  left: auto;
  border-left: $__rule;
  font-weight: bold;
}
