.c-search__label {
  @include visually-hidden;
}

.c-search__form {
  padding: $__space-xsmall var(--page-gutter);
  background-color: $__color-mustard;

  @media (min-width: $__breakpoint-medium) {
    padding-top: 2.25rem;
    padding-bottom: $__space-xxsmall;
  }
}

.c-search__inner {
  @include typeset("label");
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.c-search__input {
  border: 0;
  flex: 1;
  height: 2.5rem;
  width: 100%;
  padding: $__space-small $__space-medium;
  padding-left: 2.5rem;
  background-color: $__color-neutral-lighter;

  &:focus {
    background-color: $__color-neutral-lightest;
  }

  .has-js & {
    padding-right: 5rem;
  }
}

.c-search__geo,
.c-search__dismiss,
.c-search__submit {
  padding: $__space-small;
  position: absolute;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
}

.c-search__submit {
  left: 0;
}

.c-search__geo {
  right: 2.5rem;
  left: auto;

  &.has-failed {
    color: red;
  }
}

.c-search__dismiss {
  right: 0;
  left: auto;
  border-left: $__rule;
  font-weight: bold;
}
