.c-section {
  margin-bottom: $__space-xlarge;
  padding-top: $__space-small;
  border-top: $__rule;
}

.c-section--index {
  display: flex;

  .c-section__title {
    padding-right: $__space-small;
  }
}

.c-section__title {
  @include typeset("display2");
  padding-bottom: $__space-small;
  color: $__color-neutral-dark;

  a {
    color: inherit;
  }

  a::after {
    content: "\0020\261E";
    font-family: serif;
  }
}
