.c-route {
  display: inline-flex;
  flex-direction: column;
  align-items: baseline;

  @media screen and (min-width: $__breakpoint-medium) {
    flex-direction: row;
  }

  &:hover {
    text-decoration: none;

    .c-route__title {
      text-decoration: underline;
    }
  }
}

.c-route__title {
  font-weight: bold;
  white-space: nowrap;
}

.c-route__desc {
  @include typeset("caption");
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media screen and (min-width: $__breakpoint-medium) {
    &::before {
      content: "—";
      margin: 0 $__space-xxsmall;
    }
  }
}
