.c-route {
  position: relative;
  margin: $__space-medium 0;
  padding: $__space-xsmall $__space-small;
  outline: 1px solid $__color-neutral-lighter;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 1.25rem;
    height: 1.5rem;
    border: solid $__color-neutral-lighter;
    border-bottom-left-radius: 1rem;
    border-width: 0 0 0.25rem 0.25rem;
    content: "";
  }
}

.c-route__title {
  @include typeset("heading");

  a::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }

  &::after {
    content: "\0020\261E";
    font-family: serif;
  }
}
