.c-result__body {
  --link-decoration: none;
}

.c-result__title {
  @include typeset("label", $font-weight: bold);
  border-top: $__rule;
  padding-top: $__space-small;
  padding-bottom: $__space-xxsmall;
  color: $__color-link;

  .c-result:hover & {
    text-decoration: underline;
    color: $__color-link-hover;
  }
}

.c-result__main {
  color: $__color-neutral-dark;
}

.c-result__footer {
  @include typeset("prose");

  --font-size-prose: $__font-size-text-small;
  margin-right: $__space-xxsmall;
  font-style: italic;
  color: $__color-neutral-mid;
}
