.c-result {
  border-bottom: 1px solid $__color-neutral-alpha;
}

.c-result__title {
  @include typeset("heading");
  padding-top: units(2);
}

.c-result__type {
  @include typeset("caption");
  margin-left: 0.25rem;
  color: $__color-neutral-mid;
}

.c-result__desc {
  max-width: 36em;
  margin-bottom: 0.75rem;
  color: $__color-neutral-darkest;
}

.c-result__url {
  @include typeset("caption");
  padding-bottom: units(2);
}
