.c-switch {
  @include typeset("label");
  display: flex;
  justify-content: space-between;
  padding-bottom: $__space-medium;
}

.c-switch__items {
  --link-decoration: none;
  display: flex;
  border: 1px solid $__color-neutral-light;
}

.c-switch__item {
  a {
    display: block;
    box-shadow: inset 0 -1px 0 $__color-neutral-alpha;
    background-color: rgba(white, 0.75);
    padding: $__space-small $__space-medium;
    color: $__color-neutral-dark;

    &[aria-current] {
      box-shadow: inset 0 1px 0 $__color-neutral-alpha;
      background-color: $__color-neutral-alpha;
      font-weight: bold;
      letter-spacing: -0.03125rem;
    }

    &:hover {
      color: $__color-link-hover;
    }

    &:active {
      color: $__color-link-active;
    }

    &:focus {
      @include focus;
      position: relative;
    }
  }

  + .c-switch__item {
    border-left: 1px solid $__color-neutral-light;
  }
}
