.c-switch {
  @include typeset("label");
  font-variant-caps: all-small-caps;
  display: flex;
  justify-content: space-between;
  padding-bottom: $__space-medium;
}

.c-switch__list {
  --link-decoration: none;
  display: inline-flex;
  justify-content: center;
  width: max-content;
  border: 1px solid $__color-crimson;
}

.c-switch__label {
  flex: 1;
  display: inline-block;
  padding: $__space-xsmall $__space-medium;
  white-space: nowrap;

  &[aria-current] {
    background-color: $__color-crimson;
    font-weight: 600;
    letter-spacing: -0.03125rem;
    color: white;
  }

  + .c-switch__label {
    border-left: 1px solid $__color-crimson;
  }
}
