.c-routemap__station {
  @include typeset("label");
  position: relative;
  padding-bottom: $__space-xsmall;
  padding-left: $__space-small;

  &::before {
    display: block;
    position: absolute;
    content: "";
  }

  &::before { // ▬
    top: $__space-xsmall;
    left: 0;
    height: $__border-width-thick;
    width: 6px;
    background-color: currentColor;
  }

  &:last-child::before {
    top: auto;
    bottom: $__space-xsmall;
  }
}
