.c-masthead {
  padding: 5vh 0;
  margin: 0 calc(var(--page-gutter) * -1);
  background-color: $__color-neutral-darkest;
  color: $__color-neutral-lighter;
}

.c-masthead__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  > span {
    font-feature-settings: "smcp" on;
    line-height: 0.85;
  }

  > span:nth-child(1) {
    font-family: $__font-family-block;
    font-size: 10vw;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    color: $__color-mustard;
  }

  > span:nth-child(2) {
    font-family: $__font-family-serif;
    margin-bottom: 0.75em;
  }

  > span:nth-child(3) {
    font-family: $__font-family-slab;
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }
}
