.c-image {
  margin-bottom: $__space-medium;
}

.c-image__img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: $__space-xsmall;
}

.c-image__caption {
  @include typeset("caption");
  padding-bottom: $__space-medium;
  border-bottom: $__rule;
}
