.c-navigation {
  @include typeset("label");

  --link-color: currentColor;
  --link-color-hover: $__color-mustard;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $__z-index-default;
  pointer-events: none;
  padding: 0 var(--page-gutter);
  color: var(--navigation-color);
}

.c-navigation__title {
  @include visually-hidden;
}

.c-navigation__list {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 1px 0;
}

.c-navigation__item {
  --link-decoration: none;
  flex: auto 0 0;
  margin-left: $__space-small;

  a {
    display: flex;
    align-items: center;
    padding: $__space-large $__space-xxsmall $__space-medium;
    pointer-events: auto;

    @media (min-width: $__breakpoint-medium) {
      padding-top: $__space-xlarge;
    }
  }

  a[aria-current] {
    box-shadow: inset 0 -2px 0 currentColor;
    font-weight: 600;
    letter-spacing: -0.03125rem;
  }
}

.c-navigation__item--search {
  order: -1;
  margin-left: 0;

  @media (min-width: $__breakpoint-medium) {
    margin-right: auto;
  }

  .c-icon::after {
    @media (min-width: $__breakpoint-medium) {
      content: "Search";
      margin-left: $__space-xxsmall;
    }
  }
}
