.c-navigation {
  position: fixed;
  top: $__space-medium;
  right: $__space-medium;
  bottom: $__space-medium;
  left: $__space-medium;
  z-index: $__z-index-default;
  align-items: center;
  justify-content: center;
  background-color: rgba($__color-mustard, 0.9);
  backdrop-filter: blur(5px);

  &[aria-hidden="false"] {
    display: flex;
  }
}

.c-navigation__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.c-navigation__item {
  font-family: $__font-family-slab;
  font-size: 4vw;

  --link-decoration: none;

  a {
    display: block;
    padding: $__space-medium $__space-small;
    color: inherit;
  }

  a[aria-current] {
    font-weight: bold;
  }

  + .c-navigation__item {
    border-top: 1px solid $__color-neutral-alpha;
  }
}

.c-navigation__dismiss {
  position: absolute;
  top: 0;
  right: 0;
  padding: $__space-medium;
}
