.c-tablist {
  --link-decoration: none;
  grid-area: auto / page;
  box-shadow: inset 0 -1px 0 $__color-neutral-alpha;
  padding: 0 var(--page-gutter);
}

.c-tablist__items {
  display: flex;
  justify-content: center;
}

.c-tablist__item {
  > * {
    display: block;
    padding: $__space-medium;
    text-align: center;
  }

  [aria-current] {
    box-shadow: inset 0 -2px 0 $__color-neutral-light;
    font-weight: bold;
  }
}
