.c-tablist {
  --link-decoration: none;
  margin-bottom: $__space-small;
  box-shadow: inset 0 -1px 0 $__color-neutral-alpha;
  padding: 0 var(--page-gutter);
}

.c-tablist__items {
  display: flex;
  justify-content: center;
}

.c-tablist__item {
  > * {
    display: block;
    padding: $__space-medium $__space-xsmall;
    text-align: center;

    @media screen and (min-width: $__breakpoint-small) {
      white-space: nowrap;
      padding-left: $__space-medium;
      padding-right: $__space-medium;
    }
  }

  [aria-current] {
    box-shadow: inset 0 -2px 0 $__color-neutral-light;
    font-weight: bold;
  }
}
