.c-routemap {
  position: relative;
  margin-left: 0.5rem;
  border-left: 0.25em solid;
  list-style: none;

  &::before,
  &::after {
    position: absolute;
    left: -0.625em;
    width: 1em;
    content: "";
    z-index: 0;
  }

  &::before {
    top: 0;
    border-top: 0.75em solid $c-neutral--lightest;
  }

  &::after {
    bottom: 0;
    border-top: 0.25em solid;
    border-bottom: 1.5em solid $c-neutral--lightest;
  }
}

.c-routemap__station {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &::before {
    display: block;
    float: left;
    width: 0.25em;
    margin-top: 0.5rem;
    margin-right: 0.875rem;
    border-bottom: 0.25em solid;
    content: "";
  }

  &:first-child::before,
  &:last-child::before {
    width: 1.25em;
    margin: 0.75em 0.5em 0.75em -0.75em;
  }
}

.c-routemap__interchange {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &::before {
    float: left;
    display: block;
    position: relative;
    margin-left: -0.75rem;
    margin-right: 0.75rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.25em solid;
    border-radius: 1em;
    background-color: $c-neutral--lightest;
    content: "";
    z-index: 1;
  }

  li {
    position: relative;
    margin-left: 3.25em;
    font-size: 0.75em;
    font-weight: 400;
    text-indent: 0;
  }

  li::before {
    position: absolute;
    top: -0.3334em;
    left: -1.25em;
    font-size: 1.5em;
    font-family: sans-serif;
    content: "\261E";
  }
}
