$rule-width: 0.25rem;
$station-stop-size: 0.625rem; // 10px
$line-terminus-size: 1rem; // 16px
$background-color: $c-neutral--lighter;

.c-routemap {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  background-color: $background-color;
  padding: 0.5rem;

  @media screen and (min-width: $v-breakpoint--b) {
    padding: 0.75rem 1rem 1rem;
  }

  @media screen and (min-width: $v-breakpoint--c) {
    margin-top: -0.375rem;
  }
}

.c-routemap__stops {
  position: relative;
  margin-left: 0.75rem;
  color: $c-neutral--dark;

  &::before {
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: ($rule-width * -1);
    width: $rule-width;
    background-color: currentColor;
    content: "";
  }
}

.c-routemap__station,
.c-routemap__interchange {
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;

  a {
    position: relative;
    z-index: 9;
    display: inline-block;
    margin-left: -0.75rem;
    padding-left: 1.75rem;
  }
}

.c-routemap__station {
  // •
  &::before {
    display: block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: (($station-stop-size / -2) - ($rule-width / 2));
    height: $station-stop-size;
    width: $station-stop-size;
    margin-top: ($station-stop-size / -2);
    border-radius: 100%;
    background-color: currentColor;
    content: "";
  }

  // Don’t show • for first and last station
  &:first-child::before,
  &:last-child::before {
    left: (($line-terminus-size / -2) - ($rule-width / 2));
    width: $line-terminus-size;
    height: $rule-width;
    margin-top: ($rule-width / -2);
    border-radius: 0;
  }
}

.c-routemap__interchange {
  // ⚬
  &::before {
    display: block;
    position: absolute;
    margin-left: -0.75rem;
    margin-right: 0.625rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.25em solid;
    border-radius: 1em;
    background-color: $background-color;
    content: "";
    z-index: 2;
  }

  &:last-child::after {
    display: block;
    background-color: $background-color;
    position: absolute;
    top: 1.25rem;
    bottom: 0;
    left: ($rule-width * -1);
    z-index: 0;
    width: $rule-width;
    content: "";
  }
}

.c-routemap__branches {
  padding-top: 0.25rem;
  position: relative;
  z-index: 1;
}

.c-routemap__branch {
  position: relative;
  margin-left: 1.25em;
  padding-top: 0.125rem;
  font-size: 0.8125em;
  font-style: italic;
  font-weight: 400;
  line-height: (20/13);
  text-indent: 0;

  // ⌞
  &::before {
    display: block;
    position: absolute;
    top: -1.25rem;
    left: -1.125rem;
    height: 2.125rem;
    width: 1.75rem;
    border-bottom-left-radius: 1rem;
    border-style: solid;
    border-width: 0 0 ($rule-width / 2) ($rule-width / 2);
    content: "";
  }
}
