.c-traverse {
  @include typeset("label");
  display: flex;
  padding: units(1) 0;
}

.c-traverse__link {
  font-weight: 600;

  &:last-of-type {
    margin-left: 1rem;

    @media screen and (min-width: $__breakpoint-large) {
      margin-left: 0;
    }
  }

  @media screen and (min-width: $__breakpoint-large) {
    position: fixed;
    z-index: 99;
    top: 50%;
    bottom: 50%;
    margin-top: -1.25rem;
    padding: 1.5em 1em;
    background-color: $__color-neutral-alpha;
    line-height: 0.1;
    color: white !important;

    span {
      display: none;
    }
  }

  &:hover {
    background-color: rgba($__color-neutral-darkest, 0.8);
    text-decoration: none;

    span {
      display: inline-block;
    }
  }
}

.c-traverse__link[rel="prev"] {
  &::before {
    content: "← ";
  }

  @media screen and (min-width: $__breakpoint-large) {
    left: 0;
    border-radius: 0 1.5em 1.5em 0;
  }
}

.c-traverse__link[rel="next"] {
  &::after {
    content: " →";
  }

  @media screen and (min-width: $__breakpoint-large) {
    right: 0;
    border-radius: 1.5em 0 0 1.5em;
  }
}
