// ========================================================
// Custom Properties
// ========================================================
:root {
  --font-size-prose: 0.875rem;
  --page-gutter: $__space-small;
  --color-selection: rgba($__color-mustard, 0.25);
  --color-link: $__color-link;
  --color-link-hover: $__color-link-hover;
  --color-link-active: $__color-link-active;

  @media screen and (min-width: $__breakpoint-xsmall) {
    --font-size-prose: 1rem;
    --page-gutter: $__space-medium;
  }

  @media screen and (min-width: $__breakpoint-small) {
    --page-gutter: $__space-large;
  }

  @media screen and (min-width: $__breakpoint-large) {
    --font-size-prose: 1.125rem;
    --page-gutter: 15vw;
  }
}
