.c-traversal-nav {
  --link-decoration: none;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-areas:
    "title title"
    "prev  next";
  grid-gap: $__space-xsmall $__space-large;
  align-items: center;
  order: -1;
  width: 100vw;
  background-color: $__color-neutral-lighter;
  margin: 0 calc(var(--page-gutter) * -1);
  padding: 0 var(--page-gutter);
  color: $__color-neutral-mid;

  @media screen and (min-width: $__breakpoint-medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "prev title next";
  }
}

.c-traversal-nav__item {
  padding: $__space-medium 0;

  &::before,
  &::after {
    font-family: serif;
    line-height: 0;
  }

  &[rel="prev"] {
    grid-area: prev;

    &::before {
      content: "\261C\0020"; // ☜
    }
  }

  &[rel="next"] {
    grid-area: next;
    text-align: right;

    &::after {
      content: "\0020\261E"; // ☞
    }
  }
}

.c-traversal-nav__title {
  grid-area: title;
  font-weight: bold;
  text-align: center;

  a {
    display: block;
    padding: $__space-medium 0;
  }
}
