.c-traversal-nav {
  --link-decoration: none;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-areas:
    "title title"
    "prev  next";
  grid-gap: $__space-xsmall $__space-large;
  background-color: $__color-neutral-lighter;
  padding: $__space-small var(--page-gutter);
  color: $__color-neutral-mid;

  @media screen and (min-width: $__breakpoint-medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "prev title next";
  }

  [rel="prev"]::before {
    content: "\261C\0020"; // ☜
    font-family: serif;
    line-height: 0;
  }

  [rel="next"]::after {
    content: "\0020\261E"; // ☞
    font-family: serif;
    line-height: 0;
  }
}

.c-traversal-nav__title {
  grid-area: title;
  font-weight: bold;
  text-align: center;
}

.c-traversal-nav__prev {
  grid-area: prev;
}

.c-traversal-nav__next {
  grid-area: next;
  text-align: right;
}
