.c-info {
  @include fs--info;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: double $c-neutral--mid;
  border-width: 0 0 3px 0;
  padding: 0 0 1rem 0;

  @media screen and (min-width: $v-breakpoint--b) {
    width: 40%;
    float: right;
    margin-left: 1rem;
    border-width: 0 0 0 3px;
    padding: 0 0 0 1rem;
  }
}

.c-info__term {
  float: left;
  font-feature-settings: "smcp" on;
  font-weight: normal;
}

.c-info__desc {
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &::before {
    content: "—";
  }
}
