.c-info {
  @include fs--info;
  margin-top: 0.25rem;
  margin-bottom: 1rem;

  @media screen and (min-width: $v-breakpoint--b) {
    width: 40%;
    float: right;
    margin-left: 1rem;
    border-left: 1px solid;
    padding-left: 1rem;
  }
}

.c-info__term {
  float: left;
  font-feature-settings: "smcp" on;
  font-weight: normal;
}

.c-info__desc {
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &::before {
    content: "—";
  }
}
