.c-map {
  width: 100%;
  align-self: stretch;
  box-shadow: 0 0 0 1px $__color-neutral-alpha;
}

.c-map--cover {
  height: 60vh;
  width: 100vw;
  margin-right: calc(var(--page-gutter) * -1);
  margin-bottom: $__gutter-y;
  margin-left: calc(var(--page-gutter) * -1);
}
