.c-banner {
  --color-link: currentColor;
  --color-link-hover: $__color-mustard;
  --link-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: $__color-neutral-darkest;
  color: $__color-neutral-lightest;
}

.c-banner__home {
  display: block;
  padding: 0 $__space-medium;
  font: 2rem/4rem $__font-family-block;
  white-space: nowrap;
  text-transform: uppercase;
  color: $__color-mustard;

  &:focus {
    @include focus;
  }

  span {
    @media (max-width: $__breakpoint-xsmall) {
      @include visually-hidden;
    }
  }
}

.c-banner__toggle {
  @include typeset("label");
  display: flex;
  padding: $__space-large;

  &[aria-controls="search"] {
    order: -1;
  }

  &[aria-controls="navigation"] {
    flex-direction: row-reverse;
  }

  &:hover {
    color: $__color-mustard;
  }

  &:active {
    color: $__color-link-active;
  }

  &:focus {
    @include focus;
  }
}

.c-banner__label {
  padding: 0 $__space-xsmall;

  @media screen and (max-width: $__breakpoint-medium) {
    @include visually-hidden;
  }
}

.c-banner__skip {
  @include typeset("label");
  display: block;
  position: fixed;
  top: 0;
  // right: 0;
  // left: 0;
  z-index: $__z-index-overlay;
  margin: 0 auto;
  background-color: white;
  padding: $__space-small;
  transform: translateY(0);
  white-space: nowrap;

  &:hover {
    color: $__color-link-hover;
  }

  &:active {
    color: $__color-link-active;
  }

  &:focus {
    background-color: $__color-neutral-lightest;
  }

  &:not(:focus) {
    @include visually-hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
  }
}
