.c-banner {
  flex: 0 0 auto;
  order: -1;
  padding: $__space-large var(--page-gutter) $__space-xxsmall;
  background-color: $__color-neutral-darkest;
}

.c-banner__title {
  font: 2rem/1 $__font-family-block;
  text-transform: uppercase;
  color: $__color-mustard;

  a {
    opacity: 0.9;
  }

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}
