.c-banner {
  --link-color: currentColor;
  --link-color-hover: $__color-mustard;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: $__color-neutral-darkest;
  color: $__color-neutral-lightest;
}

.c-banner__home {
  --link-decoration: none;
  display: block;
  font: 2rem/4rem $__font-family-block;
  white-space: nowrap;
  text-transform: uppercase;
  color: $__color-mustard;

  span {
    @media (max-width: $__breakpoint-small) {
      @include visually-hidden;
    }
  }
}

.c-banner__toggle {
  @include typeset("label");
  padding: $__space-large;

  &[aria-controls="search"] {
    order: -1;
  }

  &:hover {
    color: $__color-mustard;
  }

  &:active {
    color: $__color-link-active;
  }
}

.c-banner__skip {
  @include typeset("label");
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $__z-index-overlay;
  margin: 0 auto;
  background-color: white;
  padding: $__space-small;
  transform: translateY(0);
  white-space: nowrap;

  &:hover {
    color: $__color-link-hover;
  }

  &:active {
    color: $__color-link-active;
  }

  &:not(:focus) {
    @include visually-hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
  }
}
