.c-route-list__item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-bottom: $__space-xsmall;
  text-decoration: none;

  @media screen and (min-width: $__breakpoint-medium) {
    flex-direction: row;
  }

  &:hover {
    text-decoration: none;
  }
}

.c-route-list__label {
  @include typeset("label", $font-weight: bold);
  text-decoration: underline;
}

.c-route-list__desc {
  @include typeset("caption");
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media screen and (min-width: $__breakpoint-medium) {
    &::before {
      content: "—";
      margin: 0 $__space-xxsmall;
    }
  }
}
