.c-main {
  flex: 1 0 auto;
  order: 1;
  padding-bottom: units(2);

  a {
    color: $__color-link;

    &:hover {
      color: $__color-link-hover;
    }

    &:active {
      color: $__color-link-active;
    }
  }
}
