.c-main {
  flex: 1 0 auto;
  order: 1;
  padding-bottom: 3rem;

  a {
    color: $c-brand-crimson;

    &:hover {
      color: lighten($c-brand-crimson, 20%);
    }

    &:active {
      color: darken($c-brand-yellow, 10%);
    }
  }
}
