// ============================================================================
// Text-level semantics
// https://w3c.github.io/html/textlevel-semantics.html
// ============================================================================

// Add the correct font size in all browsers.
small {
  font-size: 100%;
}

// Set consistent quote types
:lang(en-gb) > q {
  quotes: '\2018' '\2019' '\201c' '\201d';
}

// Remove the bottom border in Firefox 39-.
abbr[title] {
  border-bottom: 0;

  &:hover {
    cursor: help;
  }
}

// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
code,
kbd,
samp {
  font-family: $f-mono; // 1
  font-size: 1em; // 2
}

// Prevent `sub` and `sup` elements from affecting line height in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}
