.c-route-traversal {
  --link-decoration: none;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-areas:
    "title title"
    "prev  next";
  grid-gap: $__space-xsmall $__space-large;
  border-top: $__rule;
  padding: $__space-xxsmall 0 $__space-small;

  @media screen and (min-width: $__breakpoint-medium) {
    grid-template-areas: "prev title next";
  }

  a[rel="prev"] {
    grid-area: prev;

    &::before {
      content: "\261C\0020"; // ☜
      font-family: serif;
    }
  }

  a[rel="next"] {
    grid-area: next;
    text-align: right;

    &::after {
      content: "\0020\261E"; // ☞
      font-family: serif;
    }
  }
}

.c-route-traversal__title {
  grid-area: title;
  font-weight: bold;
  text-align: center;
}
