.s-info {
  @include pull-right;
  margin-bottom: $__space-medium;
  padding: $__space-small;
  background-color: $__color-neutral-lighter;
  font-family: $__font-family-serif;
  font-variant-numeric: lining-nums;
  line-height: $__line-height-loose;
  hyphens: none;

  p:not(:last-child) {
    margin-bottom: $__space-xsmall;
  }

  dt {
    float: left;
    font-variant-caps: small-caps;
    font-weight: normal;

    &::after {
      content: ".";
    }
  }

  dt + dd::before {
    content: "—";
  }

  dd {
    margin-left: $__text-indent;
    hyphens: none;

    & + dd {
      text-indent: $__text-indent;
    }

    &:not(:last-of-type) {
      margin-bottom: $__space-xsmall;
    }
  }
}
