.c-info {
  font-family: $__font-family-serif;

  p {
    margin-bottom: 0.25em;
  }

  dt {
    float: left;
    font-feature-settings: "smcp" on;
    font-weight: normal;
  }

  dd {
    margin-left: $__text-indent;

    &:not(:last-of-type) {
      margin-bottom: 0.25em;
    }

    &::before {
      content: "—";
    }
  }
}
