.s-info {
  @include pull-right;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  background-color: $__color-neutral-lighter;
  padding: 0.5rem;

  @media screen and (min-width: $__breakpoint-small) {
    padding: 0.75rem 1rem 1rem;
  }

  @media screen and (min-width: $__breakpoint-medium) {
    margin-top: -0.375rem;
  }

  > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  dt {
    float: left;
    font-feature-settings: "smcp" on;
    font-weight: normal;
  }

  dd {
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "—";
    }
  }
}
