//  ===========================================================================
//  Embedded content
//  ===========================================================================

img {
    max-width: 100%;
}

svg {
    fill: currentColor;
}
