//  ===========================================================================
//  Forms
//  ===========================================================================

fieldset,
legend,
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font: inherit;
    line-height: normal;
    appearance: none;
}

label {
    display: block;
}
