//  ===========================================================================
//  Grouping content
//  ===========================================================================

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    margin: 0;
    orphans: 3;
    widows: 3;
}

pre,
blockquote {
    @media print {
        page-break-inside: avoid;
    }
}

ol,
ul {
    padding: 0;
}

ul li {
    list-style: none;
}
