.s-image {
  margin-bottom: $__space-large;

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  figcaption {
    @include typeset("caption");
    padding-top: $__space-medium;
    padding-bottom: $__space-medium;
    border-bottom: $__rule;
  }
}

.s-image--pull-right {
  @include pull-right;
}

.s-image--bleed {
  margin-right: calc(var(--page-gutter) * -1);
  margin-left: calc(var(--page-gutter) * -1);

  figcaption {
    margin-right: var(--page-gutter);
    margin-left: var(--page-gutter);
  }
}
