.c-routemap__line {
  position: relative;
  color: $c-neutral--dark;

  .c-routemap__line {
    padding-left: 1.25rem;

    &::before {
      display: block;
      position: absolute;
      top: -0.5rem;
      left: 0;
      height: 1.5rem;
      width: 1.5rem;
      background-image: url("/assets/vectors/routemap__branch.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }

  li {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.25rem;
      background-color: currentColor;
      content: "";
    }
  }

  li:first-of-type {
    &::before {
      top: 1rem;
    }
  }

  li:only-of-type {
    &::before {
      display: none;
    }
  }

  li:last-of-type {
    &::before {
      top: auto;
      bottom: 1rem;
    }

    .c-routemap__station::before {
      left: -0.25rem;
      width: 0.75rem;
    }
  }
}
