// ========================================================
// Sections
// http://w3c.github.io/html/sections.html
// ========================================================

// 1. Prevent adjustments of font size after orientation
//    change in IE on Windows Phone and iOS
html {
  height: 100%;
  text-size-adjust: 100%; // [1]
  position: relative;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--selection-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: $__color-neutral-darkest;
  font-family: $__font-family-sans;
  color: $__color-neutral-darkest;

  &[data-modal="true"] {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-weight: inherit;

  @media print {
    page-break-after: avoid;
  }
}
