@mixin pull-right {
  @media screen and (min-width: $__breakpoint-small) {
    width: 50%;
    float: right;
    margin-left: 1.5rem;
    margin-bottom: $__gutter;
  }

  @media screen and (min-width: $__breakpoint-medium) {
    width: 18em;
  }
}
