// ========================================================
// Typeset
// ========================================================

// Returns $value as a unitless number
//
// e.g. strip-unit(10px) => 10
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Fluid typography increases its size based on viewport
// https://css-tricks.com/snippets/css/fluid-typography/
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// Typeset
@mixin typeset($preset, $line-height: null, $font-weight: null) {
  @if $preset == "label" {
    font-family: $__font-family-sans;
    font-size: $__font-size-text-medium;
    font-weight: if($font-weight, $font-weight, normal);
    font-variant: proportional-nums;
    line-height: if($line-height, $line-height, $__line-height-baseline);
  }

  @else if $preset == "text" {
    font-family: $__font-family-sans;
    font-size: $__font-size-text-small;
    font-weight: if($font-weight, $font-weight, normal);
    font-variant: common-ligatures oldstyle-nums;
    line-height: if($line-height, $line-height, $__line-height-relaxed);
    hanging-punctuation: first;
    hyphens: auto;
  }

  @else if $preset == "caption" {
    font-family: $__font-family-sans;
    font-size: $__font-size-text-xsmall;
    font-weight: if($font-weight, $font-weight, normal);
    font-variant: common-ligatures lining-nums;
    line-height: if($line-height, $line-height, $__line-height-default);
    hanging-punctuation: first;
    hyphens: auto;
  }

  @else if $preset == "prose" {
    font-family: $__font-family-serif;
    font-size: var(--font-size-prose);
    font-weight: if($font-weight, $font-weight, normal);
    font-variant: common-ligatures lining-nums;
    letter-spacing: 0.005em;
    line-height: if($line-height, $line-height, $__line-height-relaxed);
    hanging-punctuation: first;
    hyphens: auto;
  }

  @else if $preset == "title" {
    @include fluid-type(
      $__breakpoint-xsmall,
      $__breakpoint-medium,
      $__font-size-display-small,
      $__font-size-display-large
    );
    font-family: $__font-family-slab;
    font-weight: if($font-weight, $font-weight, bold);
    font-variant: common-ligatures discretionary-ligatures proportional-nums;
    line-height: if($line-height, $line-height, $__line-height-default);
    text-rendering: optimizeLegibility;
  }

  @else if $preset == "heading" {
    font-family: $__font-family-slab;
    font-size: $__font-size-display-small;
    font-weight: bold;
    font-variant: common-ligatures discretionary-ligatures proportional-nums;
    line-height: if($line-height, $line-height, $__line-height-default);
    text-rendering: optimizeLegibility;
  }

  @else if $preset == "display0" {
    @include fluid-type(
      $__breakpoint-xsmall,
      $__breakpoint-medium,
      $__font-size-display-small,
      $__font-size-display-xlarge
    );
    font-family: $__font-family-slab;
    line-height: if($line-height, $line-height, $__line-height-reset);
    text-rendering: optimizeLegibility;
  }

  @else if $preset == "display1" {
    @include fluid-type(
      $__breakpoint-xsmall,
      $__breakpoint-medium,
      $__font-size-display-medium,
      $__font-size-display-large
    );
    font-family: $__font-family-serif;
    letter-spacing: -0.025em;
    line-height: if($line-height, $line-height, $__line-height-reset);
    text-rendering: optimizeLegibility;
  }

  @else if $preset == "display2" {
    @include fluid-type(
      $__breakpoint-xsmall,
      $__breakpoint-medium,
      $__font-size-display-small,
      $__font-size-display-medium
    );
    font-family: $__font-family-block;
    line-height: if($line-height, $line-height, $__line-height-reset);
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  @else if $preset == "display3" {
    @include fluid-type(
      $__breakpoint-xsmall,
      $__breakpoint-medium,
      $__font-size-display-small,
      $__font-size-display-medium
    );
    font-family: $__font-family-block;
    line-height: if($line-height, $line-height, $__line-height-reset);
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  @else if $preset == "poster" {
    @include fluid-type(
      $__breakpoint-xsmall,
      $__breakpoint-medium,
      $__font-size-display-large,
      $__font-size-poster-small
    );
    font-family: $__font-family-block;
    line-height: if($line-height, $line-height, $__line-height-reset);
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  @else {
    @warn "The preset '#{$preset}' is not recognised";
  }
}
