// ========================================================
// Visually hidden
//
// Hide visually, but still parsable by screen readers:
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
//
// 1. For long content, line feeds are not interpreted as
//    spaces and small width causes content to wrap one word
//    per line: https://medium.com/@jessebeach/5952a4c2cbfe
// ========================================================

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap; // [1]
}
