.s-prose {
  @include fs--body;
  font-variant-numeric: oldstyle-nums;

  > * {
    margin-bottom: 0.25em;
  }

  h2,
  summary,
  caption {
    @include fs--heading;
    margin-top: 2rem;
    font-variant-ligatures: discretionary-ligatures;
  }

  summary,
  caption {
    text-align: center;
  }

  a {
    color: $c-brand-crimson;
    text-decoration: underline;

    &[href^="/stations/"] {
      font-feature-settings: "smcp" on;
    }

    &[href^="/routes/"] {
      position: relative;
      padding-left: 1rem;
      white-space: nowrap;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        width: 6px;
        border-style: double;
        content: '';
      }

      &::before {
        top: 0%;
        left: 3px;
        height: 65%;
        border-width: 3px 3px 0 0;
        border-top-right-radius: 50%;
      }

      &::after {
        bottom: -15%;
        left: 6px;
        height: 50%;
        border-width: 0 0 3px 3px;
        border-bottom-left-radius: 50%;
      }
    }
  }

  strong {
    font-family: $f-slab;
  }

  p {
    hyphens: auto;
    text-align: justify;
    text-indent: $v-text-indent;
    word-break: break-word;
  }

  ul li {
    margin-left: $v-text-indent;
    text-indent: ($v-text-indent * -1);
  }

  blockquote {
    margin: 0.5rem 4.5rem;
    font-size: 90%;
    line-height: 1.25;

    p {
      white-space: pre-wrap;
      text-indent: 0;
    }

    br {
      display: none;
    }

    + p > cite {
      display: block;
      margin-top: -0.75rem;
      margin-bottom: 0.75rem;
      font-style: normal;
      font-variant-caps: all-small-caps;
      text-align: center;

      &::before {
        content: '— ';
      }
    }

    > :first-child::before,
    > :last-child::after {
      display: inline-block;
      position: relative;
      top: 0.25rem;
      width: 0.75rem;
      font-size: 125%;
      line-height: 0;
    }

    > :first-child::before {
      content: '“';
      margin-left: -0.75rem;
    }

    > :last-child::after {
      content: '”';
      text-align: right;
    }
  }

  dt:not([class]) {
    font-weight: 700;
  }

  dd:not([class]) {
    margin-left: $v-text-indent;
  }

  table {
    font-variant-numeric: lining-nums tabular-nums;
  }
}
