.s-prose {
  @include fs--body;
  font-variant-numeric: oldstyle-nums;

  > * {
    margin-bottom: 0.75em;
  }

  h2,
  summary,
  caption {
    @include fs--heading;
    margin-top: 2rem;
    font-variant-ligatures: discretionary-ligatures;
  }

  summary,
  caption {
    text-align: center;
  }

  a {
    color: $c-brand-crimson;
    text-decoration: underline;

    &[href^="/stations/"] {
      font-feature-settings: "smcp" on;
    }

    &[href^="/routes/"]::before {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-color: red;
      content: '';
    }
  }

  strong {
    font-family: $f-slab;
  }

  p {
    hyphens: auto;
    text-align: justify;
    text-indent: $v-text-indent;
    word-break: break-word;
  }

  ul li {
    margin-left: $v-text-indent;
    text-indent: ($v-text-indent * -1);
  }

  dt:not([class]) {
    font-weight: 700;
  }

  dd:not([class]) {
    margin-left: $v-text-indent;
  }

  table {
    font-variant-numeric: lining-nums tabular-nums;
  }
}
