.c-shorturl {
  @include fs--caption;
  display: flex;
  padding: units(1) 0;
}

.c-shorturl__title {
  font-weight: 600;

  &::after {
    content: ":";
  }
}

.c-shorturl__link {
  margin-left: 0.5rem;
}
