//  ===========================================================================
//  Banner
//  ===========================================================================

.c-banner {
    order: 1;
    padding: 1rem 1rem 0.25rem;
    background-color: $c--neutral-darkest;
}

.c-banner__title {
    color: $c--brand-yellow;
    font-family: $f--block;
    font-size: 2rem;
    text-transform: uppercase;
}

.c-banner__home {
    color: $c--brand-yellow;
    text-decoration: none;
}
