//  ===========================================================================
//  Banner
//  ===========================================================================

.c-banner {
    background-color: $c__neutral-dark;
}

.c-banner__title {
    color: $c__brand-yellow;
    text-transform: uppercase;
}

.c-banner__home {
    color: $c__brand-yellow;
}
