//  ===========================================================================
//  Info
//  ===========================================================================

.c-info {
    @include fs--info;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $c--neutral-mid;
    color: $c--neutral-dark;
}

.c-info__term {
    float: left;
    font-weight: normal;
    text-transform: uppercase;

    &::after {
        content: '.—';
    }
}

.c-info__desc {
    margin-bottom: 0.5rem;
}
