//  ===========================================================================
//  Info
//  ===========================================================================

.c-list {
    overflow: hidden;
    line-height: 1.5;
}
