//  ===========================================================================
//  Page
//  ===========================================================================

.c-page {
    @include l--container;
}

.c-page__header {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.c-page__title {
    @include fs--title;
    color: $c--neutral-dark;

    &::after {
        content: ".";
    }
}
