//  ===========================================================================
//  Section
//  ===========================================================================

.c-section {
    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: 1px solid $c--neutral-mid;
}

.c-section--alphabetise {
    display: flex;

    .c-section__title {
        flex: 0 0 auto;
        padding-right: 1rem;
        font-family: $f--block;
        font-size: 2.5rem;
    }

    .c-list {
        flex: 1 1 auto;
    }
}

.c-section--alphabetise,
.c-section--country,
.c-section--stations {
    .c-list__item {
        @media screen and (min-width: $v--breakpoint-a) {
            width: percentage(1/2);
            float: left;
        }

        @media screen and (min-width: $v--breakpoint-b) {
            width: percentage(1/3);
        }

        @media screen and (min-width: $v--breakpoint-c) {
            width: percentage(1/4);
        }
    }
}

.c-section__title {
    @include fs--heading;
    margin-bottom: 0.5rem;
    color: $c--neutral-dark;

    a {
        color: inherit;
    }

    a::after {
        content: '\0020\261E';
    }
}
