.s-branch {
  border-inline-start: 0.25rem solid var(--color-neutral-lighter);
  margin-block: var(--space-l);
  padding-inline-start: var(--space-m);
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &::before { /* Spur */
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='40'><path fill='none' stroke='%23e8e5e3' stroke-width='0.25rem' d='M2 0s0 13 10 20a23 23 0 0 1 10 20'/></svg>");
    block-size: 40px;
    inline-size: 24px;
    inset-block-start: -40px;
    inset-inline-start: -24px;
    z-index: 0;
  }

  &::after { /* Terminus */
    background-color: var(--color-neutral-lighter);
    block-size: 0.25rem;
    inline-size: var(--space-m);
    inset-block-end: 0;
    inset-inline-start: -0.625rem;
    margin-block-end: -0.25rem;
  }
}
