.s-branch {
  border-inline-start: 0.25rem solid var(--color-neutral-lighter);
  margin-block: var(--space-l);
  padding-inline-start: var(--space-m);
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  /* Spur */
  &::before {
    background-image: url("/assets/vectors/branch.svg");
    block-size: 40px;
    inline-size: 24px;
    inset-block-start: -40px;
    inset-inline-start: -24px;
    z-index: 0;
  }

  /* Terminus */
  &::after {
    background-color: var(--color-neutral-lighter);
    block-size: 0.25rem;
    inline-size: var(--space-m);
    inset-block-end: 0;
    inset-inline-start: -0.625rem;
    margin-block-end: -0.25rem;
  }
}
