.s-distances {
  font: var(--font-meta);
  inline-size: 100%;
  margin-block: var(--space-l);
  margin-inline: auto;

  & caption {
    font-variant-caps: all-small-caps;
    margin-block: var(--space-xs);

    &::after {
      content: ".";
    }
  }

  & tr {
    break-inside: avoid;
    inline-size: 100%;

    & > *:last-child {
      text-align: end;
    }
  }

  & th,
  & td {
    border-inline-start: 0 !important;
    inline-size: 100%;
    vertical-align: bottom;
  }

  & thead {
    @media screen and (--from-m) {
      display: block;
      inline-size: 100%;
      position: relative;
    }

    & th:nth-child(2) {
      font-size: 80%;

      @media screen and (--from-m) {
        &::after {
          content: "Miles.";
          inset-block-start: 0;
          inset-inline-end: calc(50% + var(--gap-x));
          padding-block: var(--space-2xs);
          padding-inline: var(--space-m);
          position: absolute;
          text-align: end;
        }
      }
    }
  }

  & tbody {
    word-spacing: -0.025em;

    @media screen and (--from-m) {
      column-fill: balance;
      column-gap: calc(var(--gap-x) * 2);
      column-rule: var(--line-double);
      columns: 2;
      display: block;
    }

    & span {
      background-color: var(--color-neutral-lightest);
      background-image: url("/assets/vectors/page.svg");
      padding-inline-end: var(--space-2xs);
      position: relative;
      z-index: var(--z-index-default);
    }

    & em {
      font-size: 80%;
    }

    & td:nth-child(1) {
      position: relative;

      &::after {
        background-image: url("/assets/vectors/point.svg");
        background-position: bottom right;
        background-repeat: repeat-x;
        block-size: var(--line-size-thick);
        content: "";
        inset-block-end: 0.67em;
        inset-inline: var(--space-2xs);
        position: absolute;
      }
    }

    & td:nth-child(2) {
      white-space: nowrap;
    }
  }
}
