.s-info {
  background-color: var(--color-neutral-lighter);
  font: var(--font-meta);
  font-variant-numeric: lining-nums;
  hyphens: none;
  padding: var(--space-s);

  & p:not(:last-child) {
    margin-block-end: var(--space-xs);
  }

  & dt {
    float: inline-start;
    font-variant-caps: small-caps;

    &::after {
      content: ".";
    }
  }

  & dt + dd::before {
    content: "—";
  }

  & dt + dd:empty::before {
    content: "\2002";
  }

  & dd {
    hyphens: none;
    margin-inline-start: var(--text-indent);

    & + dd {
      text-indent: var(--text-indent);
    }

    &:not(:last-of-type) {
      margin-block-end: var(--space-xs);
    }
  }
}
