.s-prose {
  font: var(--font-body);
  font-variant: common-ligatures lining-nums;
  hyphens: auto;
  letter-spacing: 0.005em;

  & > *:not(.c-figure) {
    max-inline-size: 60ch;
  }

  & p + p {
    text-indent: var(--text-indent);
  }

  & * + h2 {
    margin-block-start: var(--space-xl);
  }

  & h2 {
    display: flex;
    font: var(--font-subhead);
    margin-block-end: var(--space-xs);

    &::after {
      content: ".";
    }
  }

  & h3 {
    font: var(--font-subhead);
    font-variant-caps: all-small-caps;
    margin-block: var(--space-l) var(--space-2xs);
    opacity: 0.8;
  }

  & h2 + h3 {
    margin-block-start: var(--space-xs);
  }

  & h4 {
    font-style: italic;
    margin-block-start: var(--space-xs);
    text-align: center;
  }

  & hr {
    block-size: 2px;
    border: 0;
    border-block: var(--line-solid);
    margin: 1.5rem;
  }

  & a {
    hyphens: none;

    &[href^="/stations/"] {
      font-variant-caps: small-caps;
    }
  }

  & cite,
  & em {
    line-height: 0;
  }

  & strong {
    font-family: var(--font-family-slab);

    & a[href^="/stations/"] {
      font-variant-caps: normal;
    }
  }

  & ul li {
    margin-left: var(--text-indent);
    text-indent: -1em;

    &::before {
      content: "—\2009"; /* EM DASH + THIN SPACE */
    }
  }

  & blockquote {
    font-size: 85%;
    line-height: var(--line-height-loose);
    margin-block: var(--space-l);
    margin-inline: 10%;

    & hr {
      border: 0;
      margin-block: var(--space-s);
      margin-inline: 0;

      &::after {
        content: "\00A0 ∗ ∗ ∗ ∗ ";
        display: block;
        letter-spacing: 1.5em;
        line-height: 0;
      }
    }

    & p {
      text-indent: 0;
      white-space: pre-wrap;
    }

    & br {
      display: none;
    }

    & + p > cite {
      display: block;
      font-size: 75%;
      font-style: normal;
      font-variant-caps: small-caps;
      margin-block: calc(var(--space-s) * -1) var(--space-m);
      text-align: center;

      &::before {
        content: "— ";
      }
    }

    & > :first-child::before,
    & > :last-child::after {
      display: inline-block;
      font-size: 125%;
      inline-size: 0.75rem;
      inset-block-start: 0.25rem;
      line-height: 0;
      position: relative;
    }

    & > :first-child::before {
      content: "“";
      margin-left: -0.75rem;
    }

    & > :last-child::after {
      content: "”";
      text-align: right;
    }
  }

  & dt {
    font-weight: 700;
  }

  & dd {
    margin-left: var(--text-indent);
  }

  & small {
    font-size: 75%;
  }

  & table {
    font-size: 85%;
    font-variant-numeric: lining-nums tabular-nums;
    line-height: var(--line-height-tight);
    margin-block-end: var(--space-s);
  }

  & th,
  & td {
    font-weight: normal;
    padding-block: var(--space-2xs);
    padding-inline-end: var(--space-m);
  }

  & th + th,
  & td + td {
    border-inline-start: var(--line-double);
  }

  & th:not(:first-child),
  & td:not(:first-child) {
    padding-inline-start: var(--space-m);
  }

  /* Typesetting */
  & .amp {
    font-family: var(--font-family-serif);
    font-style: italic;
  }

  & .c2sc {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.025em;
  }

  & .smcp {
    font-feature-settings: "smcp" on;
  }

  & .frac-nom {
    margin-right: 0.05em;
  }

  & .frac-denom {
    margin-left: 0.05em;
  }

  /* Footnotes */
  & .footnotes {
    font: var(--font-caption);
  }
}

.s-prose--centered {
  & > *:not(.c-figure) {
    margin: 0 auto;
  }
}

.s-prose--route {
  border-inline-start: 0.25rem solid var(--color-neutral-lighter);
  padding-inline-start: var(--space-m);
  position: relative;

  /* Termini */
  &::before,
  &::after {
    background-color: var(--color-neutral-lighter);
    block-size: 0.25rem;
    content: "";
    display: block;
    inline-size: var(--space-m);
    inset-inline-start: -0.625rem;
    position: absolute;
  }

  /* ┳ */
  &::before {
    inset-block-start: 0;
  }

  /* ┻ */
  &::after {
    bottom: 0;
    margin-block-end: -0.25rem;
  }

  & p + p {
    margin-block-start: var(--space-s);
    text-indent: 0;
  }

  & .c-place {
    &::before {
      background-color: var(--color-neutral-lighter);
      block-size: 0.25rem;
      content: "";
      display: block;
      inline-size: var(--space-m);
      inset-block-start: var(--space-l);
      inset-inline-start: calc(var(--space-m) * -1);
      position: absolute;
    }
  }
}
