.s-prose {
  font: var(--font-body);
  font-variant: common-ligatures lining-nums;
  hyphens: auto;
  letter-spacing: 0.005em;

  & > * + * {
    margin-block-start: var(--prose-flow-space, 0.75em);
  }

  & > *:not(figure) {
    max-inline-size: 65ch;
  }

  & h2 {
    font: var(--font-subhead);
    margin-block-start: var(--space-xl);

    &::after {
      content: ".";
      margin-inline-start: -0.25em;
    }
  }

  & h3 {
    font: var(--font-subhead);
    font-variant-caps: all-small-caps;
  }

  & h4 {
    font-style: italic;
    text-align: center;
  }

  & hr {
    border: 0;
    border-block-start: var(--line-double);
    margin: var(--space-xl);
  }

  & a {
    hyphens: none;

    &[href^="/stations/"] {
      font-variant-caps: small-caps;
    }
  }

  & strong {
    font-family: var(--font-family-slab);

    & a[href^="/stations/"] {
      font-variant-caps: normal;
    }
  }

  & ul li {
    margin-inline-start: var(--text-indent);

    &::before {
      content: "—\2009"; /* EM DASH + THIN SPACE */
    }
  }

  & blockquote {
    font-size: var(--font-size-s);
    line-height: var(--line-height-loose);
    margin-inline: 10%;
    quotes: "“" "”";

    & p:first-child::before {
      content: open-quote;
    }

    & hr {
      border: 0;
      margin-block: 0;

      &::after {
        content: "\00A0 ∗ ∗ ∗ ∗ ";
        letter-spacing: 1.5em;
      }
    }

    & + p > cite {
      display: block;
      font-size: var(--font-size-s);
      font-style: normal;
      font-variant-caps: small-caps;
      margin-block: calc(var(--space-s) * -1) var(--space-m);
      text-align: center;

      &::before {
        content: "— ";
      }
    }
  }

  & small {
    font-size: 85%;
  }

  & table {
    font-size: 85%;
    font-variant-numeric: lining-nums tabular-nums;
    line-height: var(--line-height-tight);
  }

  & th,
  & td {
    font-weight: normal;
    padding-block: var(--space-2xs);
    padding-inline-end: var(--space-m);
  }

  & th + th,
  & td + td {
    border-inline-start: var(--line-double);
  }

  & th:not(:first-child),
  & td:not(:first-child) {
    padding-inline-start: var(--space-m);
  }

  /* Typesetting */
  & .amp {
    font-family: var(--font-family-serif);
    font-style: italic;
  }

  & .c2sc {
    font-variant-caps: all-small-caps;
    letter-spacing: 0.025em;
  }

  & .smcp {
    font-variant-caps: small-caps;
  }

  & .frac-nom {
    margin-inline-end: 0.05em;
  }

  & .frac-denom {
    margin-inline-start: 0.05em;
  }

  /* Footnotes */
  & .footnotes {
    font: var(--font-caption);
  }

  [data-template="region"] &,
  [data-template="routes"] & {
    & > * {
      margin-inline: auto;
    }
  }

  [data-template="route"] & {
    border-inline-start: 0.25rem solid var(--color-neutral-light);
    padding-inline-start: var(--space-m);
    position: relative;

    /* Termini */
    &::before,
    &::after {
      background-color: var(--color-neutral-light);
      block-size: 0.25rem;
      content: "";
      display: block;
      inline-size: var(--space-m);
      inset-inline-start: -0.625rem;
      position: absolute;
    }

    /* ┳ */
    &::before {
      inset-block-start: 0;
    }

    /* ┻ */
    &::after {
      inset-block-end: 0;
      margin-block-end: -0.25rem;
    }

    & .c-place {
      &::before {
        background-color: var(--color-neutral-light);
        block-size: 0.25rem;
        content: "";
        display: block;
        inline-size: var(--space-m);
        inset-block-start: var(--space-l);
        inset-inline-start: calc(var(--space-m) * -1);
        position: absolute;
      }
    }
  }
}
