.s-text {
  font: var(--font-meta);
  font-variant: common-ligatures lining-nums;
  hanging-punctuation: first;
  hyphens: auto;
  max-width: 70ch;
  word-break: break-word;

  li {
    margin-bottom: 0.25em;
  }
}
