.s-text {
  font: var(--font-meta);
  font-variant: common-ligatures lining-nums;
  hyphens: auto;
  max-inline-size: 70ch;
  overflow-wrap: anywhere;

  & * + * {
    margin-block-start: var(--space-xs);
  }
}
