.c-related {
  background-color: $__color-neutral-lighter;
  padding: $__space-medium;
}

.c-related__header,
.c-related__main {
  @include l--container;
}

.c-related__title {
  @include typeset("display2");
  padding-bottom: $__space-small;
  color: $__color-neutral-dark;
}
