// Helpers
@import 'helpers/functions';
@import 'helpers/variables';

// Base

// Components

// Scopes

// Utilities

// Temporary
body {
    margin: 0 auto;
    max-width: $u__max-width;
    background-color: $c__neutral-light;
}
