.c-banner {
  --color-link: currentcolor;
  --color-link-hover: var(--color-mustard);
  --focus-outline-offset: -0.25rem;
  --link-decoration: none;

  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
  display: grid;
  grid-template-areas: "search masthead navigation";
  grid-template-columns: auto 1fr auto;
  place-items: center;

  &:has(h1) {
    grid-template-areas: "search navigation" "masthead masthead";
    grid-template-columns: auto;
  }

  & div {
    grid-area: masthead;
    padding-block: 2vw 4vw;
    padding-inline: var(--page-gutter);

    @media (--from-m) {
      text-align: center;
    }
  }

  & h1 span {
    display: block;

    &:nth-of-type(1) {
      color: var(--color-mustard);
      font: var(--font-heading);
      font-size: calc(2rem + 10vmin);
      text-transform: uppercase;
    }

    &:nth-of-type(2) {
      font: var(--font-body);
      font-variant-caps: all-small-caps;
      letter-spacing: 0.05em;
      margin-block-end: 1vh;
    }

    &:nth-of-type(3) {
      color: var(--color-neutral-lightest);
      font: var(--font-subhead);
      font-size: calc(0.8rem + 4vmin);
      letter-spacing: 0.0125em;
    }
  }

  & p {
    align-items: center;
    display: flex;
    font: var(--font-body);
    font-style: italic;
    margin-block-start: 2vh;

    @media (--from-m) {
      justify-content: center;

      &::before,
      &::after {
        background-color: currentcolor;
        content: "";
        height: 1px;
        width: 5vw;
      }

      &::before {
        margin-inline-end: var(--space-xs);
      }

      &::after {
        margin-inline-start: var(--space-xs);
      }
    }
  }

  & a[rel="home"] {
    color: var(--color-mustard);
    display: block;
    font: var(--font-heading);
    padding-block: var(--space-xs);
    text-transform: uppercase;
    white-space: nowrap;
  }

  & b-toggle[target="search"] {
    grid-area: search;
    justify-self: start;
  }

  & b-toggle[target="navigation"] {
    grid-area: navigation;
    justify-self: end;
  }

  & b-toggle::part(button) {
    font: var(--font-label);
    gap: var(--space-xs);
    padding: var(--space-m);

    &:hover {
      color: var(--color-mustard);
    }
  }

  & b-toggle::part(icon) {
    font-size: var(--font-size-l);
  }

  & b-toggle::part(label),
  & b-visually-hidden {
    @media (--from-m) {
      all: initial;
      color: inherit;
      font: inherit;
      text-transform: inherit;
    }
  }
}
