.c-banner {
  --color-link: currentcolor;
  --color-link-hover: var(--color-mustard);
  --focus-outline-offset: -0.25rem;
  --link-decoration: none;

  align-items: center;
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  & a[rel="home"] {
    color: var(--color-mustard);
    display: block;
    font: var(--font-heading);
    padding-block: var(--space-xs);
    text-transform: uppercase;
    white-space: nowrap;
  }

  & b-toggle::part(button) {
    font: var(--font-label);
    gap: var(--space-xs);
    padding: var(--space-l);

    &:hover {
      color: var(--color-mustard);
    }

    &:active {
      color: var(--color-link-active);
    }
  }

  & b-toggle::part(label),
  & b-visually-hidden {
    @media (--from-m) {
      all: initial;
      color: inherit;
      font: inherit;
      text-transform: inherit;
    }
  }
}
