.c-contentinfo {
  --color-link: currentcolor;
  --color-link-hover: var(--color-mustard);

  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lighter);
  display: flex;
  flex-flow: row wrap;
  font: var(--font-caption);
  gap: var(--space-s);
  padding-block: var(--space-m);
  padding-inline: calc(var(--page-gutter) - var(--space-s));
  justify-content: space-between;

  p {
    padding-block: var(--space-xs);
    padding-inline: var(--space-s);
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      padding-block: var(--space-xs);
      padding-inline: var(--space-s);
    }
  }
}
