.c-contentinfo {
  --color-link: currentcolor;
  --color-link-hover: var(--color-mustard);

  align-items: center;
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lighter);
  display: flex;
  flex-flow: row wrap;
  font: var(--font-caption);
  gap: var(--space-s);
  padding-block: var(--space-m);
  padding-inline: var(--page-gutter);
  place-content: center;

  & a[rel="me"] {
    display: flex;
  }

  & b-icon {
    font-size: var(--font-size-l);
    padding: var(--space-2xs);
  }

  & small {
    margin-inline-end: auto;
    text-align: center;
  }
}
