.c-edit {
  --color-link: var(--color-neutral-mid);

  color: var(--color-neutral-mid);
  font: var(--font-caption);
  padding-block: var(--space-l);

  [data-template="region"] &,
  [data-template="routes"] & {
    text-align: center;
  }
}
