.c-feature {
  --card-growth: var(--space-2xs);
  --link-decoration: none;

  background-color: white;
  box-shadow: var(--drop-shadow-shallow);
  display: flex;
  flex: 1;
  flex-direction: column;
  outline: var(--line-solid);
  overflow: hidden;
  position: relative;
  transition-duration: 0.15s;
  transition-property: box-shadow, margin, padding;

  &:hover,
  &:has(:focus-visible) {
    box-shadow: var(--drop-shadow-deep);
    margin: calc(var(--card-growth) * -1);
    overflow: visible;
    padding: var(--card-growth);
  }

  & header {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--space-s);
    padding-bottom: 0;

    & h3 {
      font: var(--font-subhead);
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    & span {
      all: initial;
      color: var(--color-neutral-mid);
      display: block;
      font: var(--font-meta);
      font-style: italic;
      margin-block: var(--space-2xs);
    }

    & a {
      --focus-outline-size: 0;

      &::before {
        content: "";
        display: block;
        inset: 0;
        position: absolute;
        z-index: 1;
      }

      &:focus::before {
        outline: 0.125em solid var(--focus-outline-color);
        outline-offset: 0;
      }
    }
  }

  & img {
    aspect-ratio: 16 / 9;
    inline-size: calc(100% + var(--card-growth) + var(--card-growth));
    margin: calc(var(--card-growth) * -1);
    order: -1;
  }

  & .s-text {
    color: var(--color-neutral-dark);
    padding: var(--space-s);
  }
}
