.c-feature {
  --card-growth: var(--space-2xs);

  background-color: white;
  box-shadow: var(--drop-shadow-shallow);
  display: flex;
  flex: 1;
  flex-direction: column;
  outline: var(--line-solid);
  overflow: hidden;
  position: relative;
  transition-duration: 0.15s;
  transition-property: box-shadow, margin, padding;

  &:hover,
  &:has(:focus-visible) {
    box-shadow: var(--drop-shadow-deep);
    margin: calc(var(--card-growth) * -1);
    overflow: visible;
    padding: var(--card-growth);
  }

  .c-page--station & {
    margin-bottom: var(--gap-y);
  }
}

.c-feature__header {
  display: flex;
  flex-direction: column-reverse;
  padding: var(--space-xs);
  padding-bottom: 0;
}

.c-feature__parent {
  color: var(--color-neutral-mid);
  font: var(--font-body);
  font-style: italic;
}

.c-feature__title {
  --link-decoration: none;

  font: var(--font-subhead);
  font-size: var(--font-size-xl);
  font-variant-caps: all-small-caps;

  a {
    --focus-outline-size: 0;

    &::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      z-index: 1;
    }

    &:focus::before {
      outline: 0.125em solid var(--focus-outline-color);
      outline-offset: 0;
    }
  }
}

.c-feature__main {
  color: var(--color-neutral-dark);
  padding: var(--space-xs);
  padding-bottom: var(--space-s);
}

.c-feature__img {
  height: auto;
  margin: calc(var(--card-growth) * -1);
  margin-bottom: 0;
  order: -1;
  width: calc(100% + var(--card-growth) + var(--card-growth));
}
