.c-figure {
  & img {
    inline-size: 100%;
  }

  & figcaption {
    border-block-end: var(--line-solid);
    font: var(--font-caption);
    padding-block: var(--space-m);
  }

  &[data-display="cover"] {
    & img {
      --banner-height: 5rem;

      aspect-ratio: 16 / 9;
      max-block-size: calc(80vh - var(--banner-height));
      object-fit: cover;
    }

    & figcaption {
      margin-inline: var(--page-gutter);
    }
  }

  &[data-display="map"] {
    margin-block-end: var(--space-l);

    & img {
      border: var(--line-double);
    }
  }
}
