.c-header {
  margin-inline: calc(var(--page-gutter) * -1);
  padding-block: var(--gap-y);
  padding-inline: var(--page-gutter);

  &.c-header--index {
    text-align: center;
  }

  & nav {
    font: var(--font-label);
    margin-block-end: var(--space-s);
  }

  & h1,
  & h2 {
    --color-link: var(--color-neutral-darkest);
    --link-decoration: none;

    font: var(--font-title);
    margin-block-end: var(--space-2xs);

    .c-header--index & {
      font: var(--font-headline);
    }
  }

  & h1 span {
    color: var(--color-neutral-dark);
    display: block;
    font: var(--font-body);
    font-style: italic;
    margin-block-end: var(--space-xs);
  }

  & p {
    color: var(--color-neutral-dark);
    font: var(--font-label);

    .c-header--index & {
      font: var(--font-body);
      font-variant-caps: all-small-caps;
      line-height: var(--line-height-solid);
    }
  }
}
