.c-header {
  padding-block: var(--space-l);

  & nav {
    font: var(--font-label);
    margin-block-end: var(--space-s);
  }

  & h1,
  & h2 {
    --color-link: var(--color-neutral-darkest);
    --link-decoration: none;

    font: var(--font-title);
    margin-block-end: var(--space-2xs);
  }

  & h1 span {
    color: var(--color-neutral-dark);
    display: block;
    font: var(--font-body);
    font-style: italic;
    margin-block-end: var(--space-xs);
  }

  & p {
    font: var(--font-body);
    font-variant-caps: all-small-caps;
    line-height: var(--line-height-solid);
  }

  [data-template="companies"] &,
  [data-template="home"] &,
  [data-template="places"] &,
  [data-template="region"] &,
  [data-template="routes"] &,
  [data-template="stations"] & {
    & h1,
    & h2 {
      font: var(--font-headline);
      text-align: center;
    }

    & p {
      text-align: center;
    }
  }
}
