.c-index {
  border-top: var(--line-solid);
  display: flex;
  margin-bottom: var(--gap-y);
  padding-top: var(--space-s);
}

.c-index__title {
  font: var(--font-heading);
  padding-right: var(--space-s);
  text-transform: uppercase;
}
