.c-index {
  border-block-start: var(--line-solid);
  display: flex;
  gap: var(--space-l);
  margin-block-end: var(--gap-y);
  padding-block-start: var(--space-s);

  & h2 {
    font: var(--font-heading);
    text-transform: uppercase;
  }

  & > :last-child {
    flex: 1;
  }
}
