.c-inquire {
  --focus-outline-offset: 0;

  &.c-inquire--home {
    background-color: var(--color-neutral-lighter);
    margin-inline: calc(calc(var(--page-gutter) + var(--space-m)) * -1);
    padding-inline: var(--page-gutter);

    @media (--from-m) {
      background-image: url("/assets/images/home.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-block: 40vh 5vh;
    }
  }

  & form {
    background-color: var(--color-neutral-lighter);
    display: flex;
    flex-wrap: wrap;
    font: var(--font-label);
    gap: var(--space-s);
    padding: var(--space-m);
    position: relative;

    .c-inquire--home & {
      background: transparent;

      @media (--from-m) {
        background-color: hsl(0deg 0% 0% / 60%);
        padding-left: var(--space-s);
        padding-right: var(--space-s);
      }
    }

    & b-locate::part(label),
    & b-visually-hidden {
      @media (--from-m) {
        all: initial;
        color: inherit;
      }
    }
  }

  & label {
    font-weight: 600;
    inline-size: 100%;

    .c-inquire--home & {
      @media (--from-m) {
        color: white;
      }
    }
  }

  & input {
    background-color: white;
    border: var(--line-solid);
    box-shadow: inset 0 1px 0 var(--color-neutral-dark-alpha);
    flex: 1;
    margin-inline-end: calc(calc(var(--space-s) + 1px) * -1);
    padding: var(--space-s);
  }

  & button,
  & ::part(button) {
    background-color: white;
    border: var(--line-solid);
    box-shadow: inset 0 -1px 0 var(--color-neutral-dark-alpha);
    display: flex;
    font: var(--font-label);
    gap: var(--space-xs);
    padding: var(--space-s);

    &:active {
      background-color: var(--color-neutral-lightest);
      box-shadow: inset 0 1px 0 var(--color-neutral-dark-alpha);
    }
  }

  & b-locate[error]::part(button) {
    opacity: 0.5;
  }
}
