.c-list {
  & li {
    break-inside: avoid;
    padding-block-end: var(--space-xs);
  }

  &[data-display="columns"] {
    column-fill: balance;
    column-gap: var(--gap-x);
    columns: 9rem 5;
  }

  &[data-display="grid"] {
    display: grid;
    grid-gap: var(--gap-x);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));

    & li {
      display: flex;
      max-inline-size: 45ch;
    }
  }
}
