.c-page {
  background-color: var(--color-neutral-lightest);
  background-image: url("/assets/images/body.png");
  background-repeat: repeat;
  background-size: 8rem;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
  position: relative;

  &::after {
    bottom: 0;
    box-shadow:
      inset 0 -1px var(--color-neutral-light),
      inset 0 -2px var(--color-neutral-lightest),
      inset 0 -3px var(--color-neutral-light),
      inset 0 -4px var(--color-neutral-lightest),
      inset 0 -5px var(--color-neutral-light),
      inset 0 -6px var(--color-neutral-lightest);
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}

.c-page__content {
  flex: 1;
  margin-bottom: var(--gap-y);
}

/* Page layouts */
.c-page--home {
  .c-page__content {
    display: grid;
    grid-column-gap: var(--gap-x);

    @media (--from-s) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--from-m) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.c-page--place {
  .c-figure--cover {
    margin-bottom: 0;
    order: -1;
  }
}

.c-page--route {
  .c-map--cover {
    margin-bottom: 0;
  }
}

.c-page--routes {
  .c-switch {
    margin: calc(var(--space-l) * -1) auto var(--space-m);
  }
}
