.c-pagination {
  --link-decoration: none;

  border-block-start: var(--line-solid);
  margin-block-end: var(--gap-y);

  & ul {
    display: flex;
  }

  & a {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    padding: var(--space-m);

    &[aria-current] {
      box-shadow: inset 0 2px 0 var(--color-neutral-light);
    }
  }

  & b-icon {
    inline-size: 2em;
  }
}
