.c-place {
  --link-decoration: none;

  background-color: white;
  box-shadow: var(--drop-shadow-shallow);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-block: var(--space-m);
  outline: var(--line-solid);
  padding: var(--space-s);
  position: relative;

  & h3 {
    font: var(--font-subhead);
    letter-spacing: 0.025em;
    margin-block: 0 !important;
    text-transform: uppercase;
  }

  & a {
    --focus-outline-size: 0;

    &::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      z-index: 1;
    }

    &:focus::before {
      outline: 0.125em solid var(--focus-outline-color);
      outline-offset: 0;
    }
  }
}
