.c-result {
  position: relative;

  & h3 {
    border-block-start: var(--line-solid);
    font: var(--font-subhead);
    padding-block: var(--space-s) var(--space-xs);

    a::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
    }
  }

  & footer {
    color: var(--color-neutral-mid);
    font: var(--font-caption);
    padding-block: var(--space-xs) var(--space-s);
  }
}
