.c-route-item {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  font: var(--font-label);
  line-height: var(--line-height-loose);

  @media screen and (--from-m) {
    flex-direction: row;

    & p::before {
      content: "—";
      margin: 0 var(--space-2xs);
    }
  }
}
