.c-route-traversal {
  --link-decoration: none;

  border-block-start: var(--line-solid);
  color: var(--color-neutral-mid);
  position: relative;

  &[data-current] {
    background-color: var(--color-neutral-lighter);
  }

  & #route-traversal-title {
    font-weight: bold;
    text-align: center;
  }

  & dl {
    display: grid;
    grid-template-areas: "prev next";
    inset: 0;

    @media screen and (--from-m) {
      position: absolute;
    }
  }

  & dd {
    margin: 0;

    &:first-of-type {
      grid-area: prev;
    }

    &:last-of-type {
      grid-area: next;
      justify-self: end;
    }
  }

  & a {
    align-items: center;
    display: inline-flex;
    gap: var(--space-xs);
    padding: var(--space-s);

    &[rel="prev"] {
      flex-direction: row-reverse;
    }
  }

  & i {
    align-self: end;
    display: inline-flex;
    padding: var(--space-s);
  }

  & b-icon {
    inline-size: 1.5em;
  }
}
