.c-search {
  --focus-outline-offset: -0.25rem;

  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
  inline-size: 100dvw;
  outline: var(--line-solid);

  & input {
    background: none;
    border: 0;
    border-inline-start: var(--line-solid);
    flex: 1 1 0;
    font: var(--font-label);
    inline-size: 100%;
    padding: var(--space-m);
  }

  & button,
  & ::part(button) {
    align-items: center;
    background: none;
    border: 0;
    border-inline-start: var(--line-solid);
    display: flex;
    font: var(--font-label);
    gap: var(--space-xs);
    padding: var(--space-m);
  }

  & b-icon,
  & ::part(icon) {
    font-size: var(--font-size-l);
  }

  & b-locate[error]::part(button) {
    opacity: 0.5;
  }

  & search {
    flex: 1;
  }

  & form {
    display: flex;

    & b-locate::part(label),
    & b-visually-hidden {
      @media (--from-m) {
        all: initial;
        color: inherit;
        font-family: inherit;
      }
    }
  }
}
