.c-section {
  box-shadow: 0 -1px 0 var(--color-neutral-dark-alpha);
  margin-bottom: var(--gap-y);

  .s-prose {
    --flow-space: var(--space-m);
  }
}

.c-section--offset {
  background-color: var(--color-neutral-lighter);
  box-shadow: inset 0 1px 0 var(--color-neutral-dark-alpha);
  margin: 0 calc(var(--page-gutter) * -1);
  padding: 0 var(--page-gutter) var(--space-m);
}

.c-section__title {
  --color-link: currentcolor;
  --link-decoration: none;

  color: var(--color-neutral-dark);
  font: var(--font-heading);
  padding-bottom: var(--space-s);
  padding-top: var(--space-s);
  text-transform: uppercase;

  .c-section--offset & {
    text-align: center;
  }

  & a {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
  }
}
