.c-skip-link {
  &:focus-within {
    background-color: var(--color-focus);
    font: var(--font-label);
    padding: var(--space-l);
  }

  &:not(:defined) {
    margin-block-end: var(--space-xs);
  }
}
