.c-switch {
  --focus-outline-offset: 0;
  --link-decoration: none;

  display: flex;
  font: var(--font-label);
  justify-content: space-between;
  padding-block-end: var(--space-m);

  & ul {
    border: var(--line-solid);
    display: flex;
  }

  & a {
    background-color: white;
    box-shadow: inset 0 -1px 0 var(--color-neutral-dark-alpha);
    color: var(--color-neutral-dark);
    display: block;
    padding-block: var(--space-s);
    padding-inline: var(--space-m);

    &[aria-current] {
      background-color: var(--color-neutral-dark-alpha);
      box-shadow: inset 0 1px 0 var(--color-neutral-dark-alpha);
      font-weight: bold;
      letter-spacing: -0.0313rem;
    }

    &:hover {
      color: var(--color-link-hover);
    }

    &:active {
      color: var(--color-link-active);
    }

    &:focus {
      position: relative;
      z-index: 1;
    }
  }
}
