.c-switch {
  --focus-outline-offset: 0;
  --color-link: var(--color-neutral-dark);
  --link-decoration: none;

  display: flex;
  font: var(--font-label);
  font-size: var(--font-size-s);
  justify-content: space-around;
  margin-block: var(--space-m);
  margin-inline: auto;

  & ul {
    border: var(--line-solid);
    display: flex;
  }

  & a {
    background-color: white;
    box-shadow: inset 0 -1px 0 var(--color-neutral-dark-alpha);
    display: block;
    padding-block: var(--space-s);
    padding-inline: var(--space-m);

    &[aria-current] {
      background-color: var(--color-neutral-dark-alpha);
      box-shadow: inset 0 1px 0 var(--color-neutral-dark-alpha);
      letter-spacing: -0.0313rem;
    }

    &:focus {
      position: relative;
      z-index: 1;
    }
  }
}
