.c-tablist {
  --focus-outline-offset: -0.25em;
  --link-decoration: none;

  box-shadow: inset 0 -1px 0 var(--color-neutral-dark-alpha);
  margin-block-end: var(--space-s);
  padding-inline: var(--page-gutter);

  & ul {
    display: flex;
    justify-content: center;
  }

  & a {
    display: block;
    padding-block: var(--space-m);
    padding-inline: var(--space-xs);
    text-align: center;
    white-space: nowrap;

    @media screen and (--from-s) {
      padding-inline: var(--space-m);
    }

    &[aria-current] {
      box-shadow: inset 0 -2px 0 var(--color-neutral-light);
    }
  }
}
