.c-traverse {
  --focus-outline-offset: -0.25em;
  --link-decoration: none;

  background-color: var(--color-neutral-lighter);
  color: var(--color-neutral-mid);
  margin: 0 calc(var(--page-gutter) * -1);
  position: relative;
  z-index: 1;

  & #traverse-title {
    font-weight: bold;
    margin: 0 auto;
    max-width: max-content;
    text-align: center;
  }

  & ul {
    align-items: stretch;
    display: flex;
    inset: 0;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
  }

  & li:last-child:only-child {
    margin-inline-start: auto;
  }

  & a {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    padding: var(--space-m);
  }

  & b-icon {
    inline-size: 2em;
  }

  & b-visually-hidden {
    @media (--from-m) {
      all: initial;
      color: inherit;
      font-family: inherit;
    }
  }
}
