/* Config */
@import url("config/custom-media.css");
@import url("config/custom-properties.css");
@import url("config/font-face.css");

/* Base HTML elements */
@import url("base/interactive.css");
@import url("base/sections.css");
@import url("base/text.css");

/* Vendor components */
@import url("vendor/leaflet.css");

/* Page styles */
body {
  background-color: #addeff;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}
