.c-header {
  margin: 0 calc(var(--page-gutter) * -1);
  padding: $__gutter-y var(--page-gutter);

  &.c-header--index {
    text-align: center;
  }
}

.c-header__parent {
  --link-decoration: none;
  font-family: $__font-family-serif;
  font-style: italic;
  margin-bottom: $__space-xxsmall;
}

.c-header__title {
  @include typeset("display1");

  small {
    font-size: 75%;
  }

  .c-header--index & {
    @include typeset("display0");
  }
}

.c-header__pretitle {
  @include typeset("prose");
  font-style: italic;
  color: $__color-neutral-dark;
}

.c-header__subtitle {
  @include typeset("label");
  color: $__color-neutral-dark;

  .c-header--index & {
    @include typeset("prose");
    font-variant-caps: all-small-caps;
  }
}
