.c-page__media {
  margin-bottom: 1.5rem;

  @media screen and (min-width: $__breakpoint-medium) {
    margin-bottom: 3rem;
  }

  .c-poster {
    @include l--container-extend;
    margin-bottom: 2rem;
  }

  .c-poster__img {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .c-poster__caption {
    @include typeset("caption");
    @include l--container;
  }
}
