// ========================================================
// Mixins
// ========================================================

// Visually hide content
@mixin u--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Clearfix
@mixin l--clearfix {
  &::before,
  &::after {
  display: table;
  clear: both;
  content: "";
  }
}

// Container
@mixin l--container {
  margin-right: 1rem;
  margin-left: 1rem;

  @media screen and (min-width: $v-breakpoint--b) {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  @media screen and (min-width: $v-breakpoint--d) {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $v-breakpoint--e) {
    width: 70vw;
  }
}

@mixin l--container-extend {
  margin-right: -1rem;
  margin-left: -1rem;

  @media screen and (min-width: $v-breakpoint--b) {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  @media screen and (min-width: $v-breakpoint--d) {
    max-width: 100vw;
    margin-right: -10vw;
    margin-left: -10vw;
  }

  @media screen and (min-width: $v-breakpoint--e) {
    margin-right: -15vw;
    margin-left: -15vw;
  }
}

// Font metrics
@mixin fs--system-menu {
  font: $f-sans;
  font-size: 1rem;
  line-height: (20 / 16);
}

@mixin fs--title {
  font-family: $f-block;
  font-size: 2rem; // 32px
  letter-spacing: -0.03125rem;
  line-height: 1;
  text-transform: uppercase;

  @media screen and (min-width: $v-breakpoint--b) {
    font-size: 3rem; // 48px
  }

  @media screen and (min-width: $v-breakpoint--c) {
    font-size: 4rem; // 64px
  }
}

@mixin fs--heading {
  font-family: $f-slab;
  font-size: 1.125rem; // 18px
  font-weight: bold;
  letter-spacing: 0.025rem;
  line-height: (24 / 18);
  text-transform: uppercase;

  @media screen and (min-width: $v-breakpoint--c) {
    font-size: 1.25rem; // 20px
    line-height: (28 / 20);
  }
}

@mixin fs--body {
  font-family: $f-serif;
  font-size: 1rem; // 16px
  line-height: (24 / 16);

  @media screen and (min-width: $v-breakpoint--b) {
    font-size: 1.125rem; // 18px
    line-height: (28 / 18);
  }

  @media screen and (min-width: $v-breakpoint--c) {
    font-size: 1.3125rem; // 21px
    line-height: (35 / 21);
  }
}

@mixin fs--info {
  font-family: $f-serif;
  font-size: 1rem; // 16px
  line-height: (20 / 16);

  @media screen and (min-width: $v-breakpoint--c) {
    font-size: 1.125rem; // 18px
    line-height: (25 / 18);
  }
}

@mixin fs--caption {
  font-family: $f-sans;
  font-size: 0.875rem; // 14px
  line-height: (20 / 14);
}
