// ========================================================
// Mixins
// ========================================================

// Visually hide content
@mixin u--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Clearfix
@mixin l--clearfix {
  &::before,
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

// Container
@mixin l--container {
  margin-right: 1rem;
  margin-left: 1rem;

  @media screen and (min-width: $v-breakpoint--b) {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  @media screen and (min-width: $v-breakpoint--d) {
    margin-right: 15vw;
    margin-left: 15vw;
  }
}

@mixin l--container-extend {
  margin-right: -1rem;
  margin-left: -1rem;

  @media screen and (min-width: $v-breakpoint--b) {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  @media screen and (min-width: $v-breakpoint--d) {
    max-width: 100vw;
    margin-right: -15vw;
    margin-left: -15vw;
  }
}

// Fluid typography
@mixin fluid($property, $min-vw, $max-vw, $min-value, $max-value) {
  #{$property}: $min-value;

  @media screen and (min-width: $min-vw) {
    #{$property}: calc(#{$min-value} + #{parse-int($max-value - $min-value)} * (100vw - #{$min-vw}) / #{parse-int($max-vw - $min-vw)});
  }

  @media screen and (min-width: $max-vw) {
    #{$property}: $max-value;
  }
}

// Font metrics
@mixin fs--system-menu {
  font-size: 1rem;
  line-height: (20 / 16);
}

@mixin fs--title {
  @include fluid("font-size", $v-breakpoint--a, $v-breakpoint--d, 2rem, 4rem);
  letter-spacing: -0.03125rem;
  line-height: 1;
  text-transform: uppercase;
}

@mixin fs--heading {
  @include fluid("font-size", $v-breakpoint--a, $v-breakpoint--d, 1.125rem, 1.25rem);
  font-weight: bold;
  letter-spacing: 0.025rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin fs--body {
  @include fluid("font-size", $v-breakpoint--a, $v-breakpoint--d, 1rem, 1.5rem);
  line-height: 1.6;
}

@mixin fs--info {
  @include fluid("font-size", $v-breakpoint--a, $v-breakpoint--d, 1rem, 1.125rem);
  line-height: 1.25;
}

@mixin fs--caption {
  @include fluid("font-size", $v-breakpoint--a, $v-breakpoint--d, 0.75rem, 0.875rem);
  line-height: 1.4;
}
