// ========================================================
// Global Variables
// ========================================================

// Values
$v-max-width: 80rem; // 1280px
$v-unit: 0.75rem; // 12px
$v-text-indent: 1.125em; // 18px

$v-breakpoint--a: 20rem; // 320px
$v-breakpoint--b: 30rem; // 480px
$v-breakpoint--c: 40rem; // 640px
$v-breakpoint--d: 60rem; // 960px
$v-breakpoint--e: $v-max-width;

// Colours
$c-brand-crimson: hsb(00, 80, 053);
$c-brand-mustard: hsb(24, 80, 100);

$c-neutral--darkest: hsb(24, 40, 21);
$c-neutral--dark: hsb(24, 40, 28);
$c-neutral--mid: hsb(24, 05, 49);
$c-neutral--light: hsb(24, 03, 84);
$c-neutral--lighter: hsb(24, 02, 91);
$c-neutral--lightest: hsb(24, 01, 98);

// Colour assignments
$c-focus: $c-brand-mustard;
$c-highlight: rgba($c-brand-mustard, 0.2);

$c-link: $c-brand-crimson;
$c-link--hover: lighten($c-brand-crimson, 20%);
$c-link--active: darken($c-brand-mustard, 10%);

$c-rule: rgba($c-neutral--dark, 0.2);

// Fonts
$f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$f-serif: "Linux Libertine", "Hoefler Text", "Times New Roman", serif;
$f-slab: "Kameron", serif;
$f-block: "League Gothic", "Avenir Next Condensed", serif;
$f-mono: monospace, monospace;
