.c-branch {
  position: relative;
  margin-top: $__space-large;
  margin-bottom: $__gutter-y;
  border-left: 0.25rem solid $__color-neutral-lighter;
  padding-left: $__space-medium;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
  }

  &::before { // Spur
    z-index: 0;
    top: -40px;
    left: -24px;
    width: 24px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='40'%3E %3Cpath fill='none' stroke='#{$__color-neutral-lighter}' stroke-width='0.25rem' d='M2 0s0 13 10 20a23 23 0 0 1 10 20'/%3E %3C/svg%3E");
  }

  &::after { // Terminus
    bottom: 0;
    left: -0.625rem;
    width: $__space-medium;
    height: 0.25rem;
    margin-bottom: -0.25rem;
    background-color: $__color-neutral-lighter;
  }

  h3 {
    @include typeset("heading");
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
}
