.c-section {
  grid-area: auto / page;
  margin-bottom: $__gutter-y;
  box-shadow: inset 0 1px 0 $__color-neutral-alpha;

  .s-prose {
    --flow-space: $__space-medium;
  }
}

.c-section--offset {
  margin: 0 calc(var(--page-gutter) * -1);
  padding: 0 var(--page-gutter) $__space-medium;
  background-color: $__color-neutral-lighter;
  box-shadow: inset 0 1px 0 $__color-neutral-alpha;
}

.c-section__title {
  @include typeset("display2");

  --link-color: currentColor;
  --link-decoration: none;
  padding-top: $__space-small;
  padding-bottom: $__space-small;
  color: $__color-neutral-dark;

  a::after {
    content: "\0020\261E";
    font-family: serif;
  }
}
