.s-prose {
  @include typeset("prose");
  hyphens: auto;

  > *:not(.c-figure) {
    max-width: 40rem;
  }

  p + p {
    text-indent: $__text-indent;
  }

  * + h2 {
    margin-top: $__space-xlarge;
  }

  h2:not([class]) {
    @include typeset("heading");

    &::after {
      content: ".";
    }
  }

  h3:not([class]) {
    @include typeset("heading");
    margin-top: $__space-xsmall;
    margin-bottom: $__space-xsmall;
  }

  hr {
    height: 2px;
    border: 0;
    border-top: $__rule;
    border-bottom: $__rule;
    margin: 1.5rem;
  }

  a {
    hyphens: none;
    text-decoration: underline;
    text-decoration-color: rgba($__color-link, 0.33);

    &:hover {
      text-decoration-color: rgba($__color-link-hover, 0.5);
    }

    &:active {
      text-decoration-color: rgba($__color-link-active, 0.5);
    }

    &[href^="/stations/"] {
      font-variant-caps: small-caps;
    }
  }

  cite,
  em {
    line-height: 0;
  }

  strong {
    font-family: $__font-family-slab;

    a[href^="/stations/"] {
      font-variant-caps: normal;
    }
  }

  ul li {
    margin-left: $__text-indent;
    text-indent: -1em;

    &::before {
      content: "—\2009"; // EM DASH + THIN SPACE
    }
  }

  figure {
    margin-bottom: $__space-xlarge;
  }

  * + figure {
    margin-top: $__space-large;
  }

  blockquote {
    margin-bottom: 0.75em;
    margin-left: 10%;
    font-size: 85%;
    line-height: 1.4;

    hr {
      margin-top: -1.5em;
      margin-bottom: 1.5em;
      border: 0;

      &::after {
        display: block;
        height: 0;
        letter-spacing: 1.5em;
        content: "\00A0 ∗ ∗ ∗ ∗ ";
      }
    }

    p {
      white-space: pre-wrap;
      text-indent: 0;
    }

    br {
      display: none;
    }

    + p > cite {
      display: block;
      margin-top: -0.75rem;
      margin-bottom: 0.75rem;
      font-size: 75%;
      font-style: normal;
      font-variant-caps: small-caps;
      text-align: center;

      &::before {
        content: "— ";
      }
    }

    > :first-child::before,
    > :last-child::after {
      display: inline-block;
      position: relative;
      top: 0.25rem;
      width: 0.75rem;
      font-size: 125%;
      line-height: 0;
    }

    > :first-child::before {
      content: "“";
      margin-left: -0.75rem;
    }

    > :last-child::after {
      content: "”";
      text-align: right;
    }
  }

  dt:not([class]) {
    font-weight: 700;
  }

  dd:not([class]) {
    margin-left: $__text-indent;
  }

  small {
    font-size: 75%;
  }

  table {
    margin-bottom: 0.75em;
    font-size: 85%;
    font-variant-numeric: lining-nums tabular-nums;
    line-height: 1.25;
  }

  th,
  td {
    font-weight: normal;
    padding-right: $__space-medium;
  }

  // Typesetting
  .amp {
    font-family: $__font-family-serif;
    font-style: italic;
  }

  .c2sc {
    letter-spacing: 0.025em;
    font-variant-caps: all-small-caps;
  }

  .smcp {
    font-feature-settings: "smcp" on;
  }

  .frac-nom {
    margin-right: 0.05em;
  }

  .frac-denom {
    margin-left: 0.05em;
  }

  // Footnotes
  .footnotes {
    @include typeset("caption");
  }
}

.s-prose--centered {
  > *:not(.c-figure) {
    margin: 0 auto;
  }
}

.s-prose--route {
  position: relative;
  border-left: 0.25rem solid $__color-neutral-lighter;
  padding-left: $__space-medium;

  &::before,
  &::after { // Termini
    display: block;
    position: absolute;
    left: -0.625rem;
    width: $__space-medium;
    height: 0.25rem;
    background-color: $__color-neutral-lighter;
    content: "";
  }

  &::before { // ┳
    top: 0;
  }

  &::after { // ┻
    bottom: 0;
    margin-bottom: -0.25rem;
  }

  p + p {
    margin-top: $__space-small;
    text-indent: 0;
  }

  .c-place {
    &::before {
      display: block;
      position: absolute;
      left: ($__space-medium * -1);
      top: $__space-large;
      height: 0.25rem;
      width: $__space-medium;
      background-color: $__color-neutral-lighter;
      content: "";
    }
  }
}
