.s-prose {
  @include typeset("prose");
  max-width: 70ch;
  hyphens: auto;
  word-break: break-word;

  > :last-child {
    margin-bottom: 1em;
  }

  p + p {
    text-indent: $__text-indent;
  }

  > *:not(p) {
    margin-top: $__space-xsmall;
  }

  h3 {
    @include typeset("heading");
    margin-bottom: 0.25em;
  }

  * + h3 {
    margin-top: 2.5rem;
  }

  h4 {
    @include typeset("prose");
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-variant-caps: small-caps;
    text-align: center;
  }

  hr {
    height: 2px;
    width: 80%;
    border: 0;
    border-top: $__rule;
    border-bottom: $__rule;
    margin: 1.5rem auto;
  }

  a {
    text-decoration: underline;
    text-decoration-color: rgba($__color-link, 0.33);

    &:hover {
      text-decoration-color: rgba($__color-link-hover, 0.5);
    }

    &:active {
      text-decoration-color: rgba($__color-link-active, 0.5);
    }

    &[href^="/stations/"] {
      font-feature-settings: "smcp" on;
    }

    &[href^="/routes/"] {
      position: relative;
      margin-left: 0.25rem;
      padding-left: 0.25rem;
      white-space: nowrap;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        width: 6px;
        border-style: double;
        content: "";
      }

      &::before {
        top: 6px;
        left: -6px;
        height: 50%;
        border-width: 3px 3px 0 0;
        border-top-right-radius: 12px;
      }

      &::after {
        bottom: 0;
        left: -3px;
        height: 50%;
        border-width: 0 0 3px 3px;
        border-bottom-left-radius: 12px;
      }
    }
  }

  em {
    line-height: 0; // Libertine Italic affects line-height
  }

  strong {
    font-family: $__font-family-slab;
    line-height: 0; // Kameron affects line-height
  }

  ul li {
    margin-left: $__text-indent;
    text-indent: -1em;

    &::before {
      content: "—\2009"; // EM DASH + THIN SPACE
    }
  }

  blockquote {
    margin-bottom: 0.75em;
    margin-left: 10%;
    font-size: 85%;
    line-height: 1.4;

    hr {
      margin-top: -1.5em;
      margin-bottom: 1.5em;
      border: 0;

      &::after {
        display: block;
        height: 0;
        letter-spacing: 1.5em;
        content: "\00A0 ∗ ∗ ∗ ∗ ";
      }
    }

    p {
      white-space: pre-wrap;
      text-indent: 0;
    }

    br {
      display: none;
    }

    + p > cite {
      display: block;
      margin-top: -0.75rem;
      margin-bottom: 0.75rem;
      font-size: 75%;
      font-style: normal;
      font-variant-caps: small-caps;
      text-align: center;

      &::before {
        content: "— ";
      }
    }

    > :first-child::before,
    > :last-child::after {
      display: inline-block;
      position: relative;
      top: 0.25rem;
      width: 0.75rem;
      font-size: 125%;
      line-height: 0;
    }

    > :first-child::before {
      content: "“";
      margin-left: -0.75rem;
    }

    > :last-child::after {
      content: "”";
      text-align: right;
    }
  }

  dt:not([class]) {
    font-weight: 700;
  }

  dd:not([class]) {
    margin-left: $__text-indent;
  }

  small {
    font-size: 75%;
  }

  table {
    font-variant-numeric: lining-nums tabular-nums;
  }

  // Typesetting
  .amp {
    font-family: $__font-family-serif;
    font-style: italic;
  }

  .c2sc {
    letter-spacing: 0.025em;
    font-variant-caps: all-small-caps;
  }

  .smcp {
    font-feature-settings: "smcp" on;
  }

  .frac-nom {
    margin-right: 0.05em;
  }

  .frac-denom {
    margin-left: 0.05em;
  }

  // Footnotes
  .footnotes {
    @include typeset("caption");
  }
}
