//  ===========================================================================
//  Navigation
//  ===========================================================================

.c-navigation {
    @include fs--system-menu;
    background-color: $c__neutral-dark;
    order: 2;
}

.c-navigation__list {
    @include l--container;
    display: flex;
}

.c-navigation__item {
    color: $c--neutral-lightest;
    flex: auto 0 0;
    margin-right: 1rem;

    a {
        display: block;
        padding: 1rem 0 0.5rem 0;
    }

    a.is-active {
        box-shadow: inset 0 2px 0 $c--brand-yellow;
        font-weight: 600;
        letter-spacing: -0.03125rem;
    }
}
