.c-page__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;

  @media screen and (min-width: $v-breakpoint--b) {
    flex-direction: row;
    align-items: flex-end;
    padding-top: 1.5rem;
    padding-top: 3rem;
  }

  @media screen and (min-width: $v-breakpoint--d) {
    .c-page--has-poster & {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }
}

.c-page__title {
  @include fs--title;
  color: $c-neutral--dark;

  &::after {
    content: ".";
  }
}

.c-page__notes {
  @include fs--info;
}
