.c-page__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $__space-small var(--page-gutter) $__space-large;

  @media screen and (min-width: $__breakpoint-small) {
    padding-top: $__space-large;
    padding-bottom: $__space-xlarge;
  }

  @media screen and (min-width: $__breakpoint-large) {
    padding-top: $__space-xlarge;

    .c-page--has-poster & {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }
}

.c-page__title {
  @include typeset("display1");

  span {
    font-size: 75%;
  }
}

.c-page__parent {
  font-family: $__font-family-serif;
  font-style: italic;
  margin-bottom: $__space-xxsmall;
}

.c-page__subtitle {
  color: $__color-neutral-dark;
}
