// Config
@import "config/variables.scss";
@import "config/properties.scss";
@import "config/webfonts.scss";

// Mixins
@import "mixins/**/*.scss";

// Base HTML elements
@import "base/text.scss";

// Vendor components
@import "../../vendor/leaflet.scss";

// Page styles
body {
  margin: 0;
  padding: 0;
  background-color: #addeff;
}

#map {
  height: 100%;
  width: 100%;
}
