.c-routemap__interchange {
  @include typeset("caption");
  margin-top: $__space-xxsmall;

  &::before {
    display: block;
    position: absolute;
    top: 2px;
    left: -4px;
    z-index: 1;
    height: 11px;
    width: 11px;
    background-color: $__color-neutral-lighter;
    border: $__border-width-thick solid;
    border-radius: 100%;
    content: "";
  }

  li::before {
    content: "\21B3\0020"; // ↳
    font-family: serif;
  }
}
