name: deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install Node dependencies
        run: npm i --package-lock=false
      - name: Build assets
        run: npm run-script build
      - name: Install PHP dependencies
        uses: php-actions/composer@v6
        with:
          php_version: 8.2
          php_extensions: gd
      - name: Deploy to FTP server
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: lynx.mythic-beasts.com
          server-dir: www/bradshaws.guide/
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          timeout: 60000
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
