// ========================================================
// Links
// w3c.github.io/html/links.html
// ========================================================

// Remove grey background on active links in IE 10.
a {
  background-color: transparent;
  text-decoration: none;
  transition: all 0.2s ease;
  color: inherit;
}

// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
a:active,
a:hover {
  outline-width: 0;
}
