.c-page {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
  background-color: $__color-neutral-lightest;
  background-image: url("/assets/images/body.png");
  background-repeat: repeat;
  background-size: 8rem;

  &::after {
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:
      inset 0 -1px rgba($__color-neutral-dark, 0.25),
      inset 0 -2px $__color-neutral-lightest,
      inset 0 -3px rgba($__color-neutral-dark, 0.25),
      inset 0 -4px $__color-neutral-lightest,
      inset 0 -5px rgba($__color-neutral-dark, 0.25),
      inset 0 -6px $__color-neutral-lightest;
    content: "";
    display: block;
  }
}

.c-page__content {
  margin-bottom: $__gutter-y;
  flex: 1;
}

// Page layouts
.c-page--home {
  .c-page__content {
    display: grid;
    grid-column-gap: $__gutter-x;

    @media (min-width: $__breakpoint-small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $__breakpoint-medium) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.c-page--place {
  .c-figure--cover {
    order: -1;
    margin-bottom: 0;
  }
}

.c-page--route {
  .c-map--cover {
    margin-bottom: 0;
  }
}

.c-page--routes {
  .c-switch {
    margin: ($__space-large * -1) auto $__space-medium;
  }
}
