.c-page {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);

  &::after {
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow:
      inset 0 -1px rgba($__color-neutral-dark, 0.25),
      inset 0 -2px $__color-neutral-lightest,
      inset 0 -3px rgba($__color-neutral-dark, 0.25),
      inset 0 -4px $__color-neutral-lightest,
      inset 0 -5px rgba($__color-neutral-dark, 0.25),
      inset 0 -6px $__color-neutral-lightest;
    content: "";
    display: block;
  }
}

.c-page__header {
  margin: 0 calc(var(--page-gutter) * -1);
  padding: $__gutter-y var(--page-gutter);

  &.c-page__header--index {
    text-align: center;
  }
}

.c-page__parent {
  --link-decoration: none;
  font-family: $__font-family-serif;
  font-style: italic;
  margin-bottom: $__space-xxsmall;
}

.c-page__title {
  @include typeset("display1");

  small {
    font-size: 75%;
  }

  .c-page__header--index & {
    @include typeset("display0");
  }
}

.c-page__pretitle {
  @include typeset("prose");
  display: block;
  font-style: italic;
  color: $__color-neutral-dark;
}

.c-page__subtitle {
  @include typeset("label");
  color: $__color-neutral-dark;
}

.c-page__content {
  margin-bottom: $__gutter-y;
}

// Page layouts
.c-page--place {
  .c-figure--cover {
    order: -1;
    margin-bottom: 0;
  }
}

.c-page--route {
  .c-map--cover {
    margin-bottom: 0;
  }
}

.c-page--routes {
  .c-switch {
    margin: ($__space-large * -1) auto $__space-medium;
  }
}
