.c-page {
  position: relative;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
}

.c-page__header {
  display: flex;
  flex-direction: column;
  margin: 0 calc(var(--page-gutter) * -1) 3vw;
  padding: 3vw var(--page-gutter);
}

.c-page__header--inverted {
  background-color: $__color-neutral-darkest;
}

.c-page__header--poster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: calc(30vw - 3.75rem);
  width: 100vw;
  padding: 0;
  text-align: center;

  .c-page__header-inset {
    flex: 1;
    max-width: min-content;
    box-shadow: 0 0 12px 6px rgba($__color-neutral-darkest, 0.25);
    padding: $__space-medium $__space-large;
    background-color: rgba($__color-neutral-darkest, 0.85);
    backdrop-filter: blur(2px);
  }
}

.c-page__parent {
  font-family: $__font-family-serif;
  font-style: italic;
  margin-bottom: $__space-xxsmall;

  .c-page__header--inverted &,
  .c-page__header--poster & {
    --link-color: $__color-mustard;
  }
}

.c-page__title {
  @include typeset("display1");
  color: $__color-neutral-darkest;

  small {
    font-size: 75%;
  }

  .c-page__header--inverted &,
  .c-page__header--poster & {
    color: $__color-neutral-lightest;
  }
}

.c-page__subtitle {
  display: inline-flex;
  white-space: nowrap;
  color: $__color-neutral-dark;

  .c-icon {
    margin-right: $__space_xsmall;
  }

  .c-page__header--inverted &,
  .c-page__header--poster & {
    color: $__color-neutral-light;
  }
}
