.u-pull-right {
  @media screen and (min-width: $__breakpoint-medium) {
    width: 18em;
    float: right;
    margin-left: 1.5rem;
  }
}

.u-bleed {
  margin-right: calc(var(--page-gutter) * -1);
  margin-left: calc(var(--page-gutter) * -1);
}
