// Caps to small caps
.u-c2sc {
  letter-spacing: 0.025em;
  font-variant-caps: all-small-caps;
}

// Lettercase to small caps
.u-smcp {
  font-feature-settings: "smcp" on;
}

// Smart fractions
.u-frac-nom {
  margin-right: 0.05em;
}

.u-frac-denom {
  margin-left: 0.05em;
}
